<div class="sb-slider-pills-container">
  <div class="sb-pills-container sb-grade-pills-container">
      <div class="pill active">Class 1</div>
      <div class="pill">Class 2</div>
      <div class="pill">Class 3</div>
      <div class="pill">Class 4</div>
      <div class="pill">Class 5</div>
      <div class="pill">Class 6</div>
      <div class="pill">Class 7</div>
      <div class="pill">Class 8</div>
      <div class="pill">Class 9</div>
      <div class="pill">Class 10</div>
      <div class="pill">Class 11</div>
      <div class="pill">Class 12</div>
  </div>
</div>
