@import "variables";

.sb-slider-pills-container {
  overflow-x: auto;
  width: 100%;
  background:  var(--gray-0);

  .sb-pills-container {
    display: inline-flex;
    align-items: center;
    padding:  ($base-block-space * 2)  $base-block-space * 2;

    .pill {
      background-color: var(--white);
      white-space: nowrap;
      -webkit-appearance: none;
      text-overflow: ellipsis;
      min-height: ($base-block-space * 4);
      margin-right: $base-block-space;
      padding:($base-block-space / 2) ($base-block-space);
      border-radius: 2px;
      text-transform: capitalize;
      text-decoration: none;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
  }

  .sb-grade-pills-container {
    min-height: 48px;
    
    .pill {
      border-radius: ($base-block-space * 2);
      padding: ($base-block-space / 2) ($base-block-space * 2);
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.19);
      color: var(--blue);
      min-height: ($base-block-space * 4);
      cursor: pointer;

      &:hover{
        background-color:  var(--blue);
        color: var(--white);
       
      }
    }

    .pill.active {
      background-color:  var(--blue);
      color: var(--white);
      cursor: pointer;
    }
  }

}
