

<!--Page Content-->
<div class="docs-sections" *ngFor="let section of sections;">

  <h4 class="docs-sectionHeading">
    {{section.title}}
    <i class="fa fa-code text-gray docs-expandCode" (click)="section.expandCode = !section.expandCode"
      title="Toggle Code" tabindex="0"></i>
  </h4>

  <!--Display output-->
  <div class="docs-sectionDemoCode">
    <div class="ui stackable grid m-0 h-100">
      <div class="two wide column sb-sidebar-menu px-0">
        <h5>My Workspace</h5>
        <ul>
          <li class="active">Create</li>
          <li>All my content</li>
          <li>Course Batches</li>
          <li>Create</li>
        </ul>
      </div>
      <div class="ten wide column d-flex sb-sideview-tab-container p-24 pt-72">
        <div class="sb-wspace-card active">
          <div class="sb-wspace-body">
            <div class="sb-wspace-title">Book</div>
            <div class="sb-wspace-description">Build books using resources for an interesting learning experience.</div>
          </div>
        </div>

        <div class="sb-wspace-card">
          <div class="sb-wspace-body">
            <div class="sb-wspace-title">Course</div>
            <div class="sb-wspace-description">Build books using resources for an interesting learning experience.</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--/Display output-->

  <!--Display code-->
  <div class="docs-sectionCopyCode" *ngIf="section.expandCode">

    <!--Copy code button-->
    <button ngxClipboard [cbContent]="section.copyCode"
      class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy"></button>
    <!--/Copy code button-->

    <!--Copy code display-->
    <pre>
      <code [highlight]="section.copyCode"></code>
    </pre>
    <!--/Copy code display-->

  </div>
  <!--/Display code-->

</div>
<!--Page Content-->
