<div class="add-to-library">
  <!-- Blue Header -->
  <div class="sb-bg-color-primary add-to-library__header">
    <div class="ui container py-16">
      <div class="d-flex flex-ai-center">
        <button class="sb-btn sb-btn-primary sb-btn-xs back-btn"><i class="icon-svg icon-svg--xxs icon-back"><svg
              class="icon icon-svg--white">
              <use xlink:href="assets/images/libdemo/sprite.svg#arrow-long-left"></use>
            </svg></i>
        </button>
        <div class="ml-8 sb-color-white">
          <h5 class="font-weight-bold">A Pact with the Sun</h5>
          <div class="d-flex flex-ai-center fsmall">
            <span>English</span><span class="add-to-library-dot"></span><span>Class 7</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tab -->
  <div class="sb-bg-color-primary-0">
    <div class="ui container">
      <div class="add-to-library__tab d-flex">
        <span class="item active">Explore</span>
        <span class="item">Suggestions</span>
      </div>
    </div>
  </div>

  <!-- Pills Filter -->
  <div class="sb-medium sb-bg-color-white">
    <div class="ui container d-flex flex-ai-center">
      <div class="sb-medium__sb-pills-content  sb-medium__pills-container">
        <div class="pill active">English medium</div>
        <div class="pill">Hindi medium</div>
        <div class="pill">Urdu medium</div>
      </div>
      <div class="add-to-library__divider"></div>
      <div class="sb-medium__sb-pills-content  sb-medium__pills-container">
        <div class="pill active">Practice Content</div>
        <div class="pill">Explanation Content</div>
      </div>
      <div class="add-to-library__divider"></div>
      <div class="sb-medium__sb-pills-content  sb-medium__pills-container">
        <div class="pill active">Mathamatics</div>
        <div class="pill">Economics</div>
        <div class="pill">Geography</div>
        <div class="pill">Science</div>
      </div>
    </div>
  </div>
</div>


<!-- column layout -->
<div class="ui container">
<div class="library-cards-layout d-flex" style="border: 1px solid red;
height: calc(100vh - 218px);">
  <div class="cards-fullbox make-full-column" style="width:28%;border-right:1px solid red;">cards panel</div>
  <div class="cards-cnt-container d-flex hide-column" style="width:72%;">
    <div class="cards-toc" style="width:45%;border-right:1px solid green;">TOC panel</div>
    <div class="cards-toc-player" style="width:55%;">player panel</div>
  </div>
</div>
</div>

<div class="ui container hide">
  <div class="library-cards-layout sb-g" style="border: 1px solid red;
  height: calc(100vh - 218px);">
    <div class="cards-fullbox sb-g-col-md-4" style="border-right:1px solid red;">cards panel</div>
    <div class="cards-cnt-container sb-g sb-g-col-md-8">
      <div class="cards-toc sb-g-col-md-6" style="border-right:1px solid green;background:rgba(0,0,0,0.6)">TOC panel</div>
      <div class="cards-toc-player sb-g-col-md-6" style="background:rgba(0,0,0,0.2)">player panel</div>
    </div>
  </div>
  </div>
