.sb-certificate {
  width: 100%;
  margin: 0 auto;
  padding: $sb-certificate-padding;
  text-align: center;
  position: relative;

  @include respond-above(xs) {
    max-width: $sb-certificate-max-width;
  }

  .sb-certificate-logo {
    height: $sb-certificate-logo-height;
  }

  .sb-certificate-desc {
    background-color: $sb-certificate-desc-background;
    padding: $sb-certificate-desc-padding;
    margin: $sb-certificate-desc-margin;
    z-index: 2;

    .sb-certificate-desc-img {
      max-width: $sb-certificate-desc-img-width;
      margin: 0 auto;
    }
  }

  .sb-certificate-label {
    font-weight: normal;
    font-size: $sb-certificate-label-font-size;
    line-height: $sb-certificate-label-line-height;
    color: $sb-certificate-label-color;
  }

  .sb-certificate-field {
    display: flex;
    justify-content: space-between;
    width: $sb-certificate-field-width;
    margin: $sb-certificate-field-margin;

    .sb-certificate-input {
      height: $sb-certificate-input-height;
      width: $sb-certificate-input-width;
      border: 0;
      border-bottom: $sb-certificate-input-border-bottom;
      background: transparent;
      text-align: center;
      font-weight: bold;
      font-size: $sb-certificate-input-font-size;
      color: $sb-certificate-input-color;
      &:focus {
        outline: none;
      }
    }
  }

  .sb-certificate-holder-details {
    .sb-certificate-holder-desc {
      font-size: $sb-certificate-holder-desc-font-size;
      line-height: $sb-certificate-holder-desc-line-height;
      color: $sb-certificate-holder-desc-color;
      &.sb-certificate-holder-desc-primary {
        color: $sb-certificate-holder-desc-primary-color;
        margin: 0;
      }
    }
    .sb-certificate-holder-name {
        font-size: $sb-certificate-holder-name-font-size;
        line-height: $sb-certificate-holder-name-line-height;
        color: $sb-certificate-holder-name-color;
        font-weight: 700;
        text-align: center;
        margin: $sb-certificate-holder-name-margin;
    }
  }
  .sb-certificate-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 2;
    display :none;
  }
  .sb-certificate-loader {
    display: none;
    .sb-certificate-loader-img {
      height: 50px;
      width: 50px;
    }
  }
  &.loading {
    .sb-certificate-overlay {
      display: block;
    }
    .sb-certificate-desc-img {
      display: none;
    }
    .sb-certificate-loader {
      display: block;
      z-index: 4;
      position: relative;
      color: $sb-certificate-holder-desc-primary-color;
      font-weight: bold;
    }
  }
}



.sb-form-field-group {
  .sb-form-field {
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--gray-100);
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--gray-100);
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: var(--gray-100);
    }
    input {
      text-transform: uppercase;
    }
    input:focus {
      border: 1px solid var(--primary-color);
      box-shadow: 0px 0px 5px var(--primary-color);
    }

    input:invalid {
      border-bottom: 2px solid var(--red-400);
    }
    input:valid {
      border-bottom: 2px solid var(--secondary-200);
    }
    input:invalid + div.sb-validation-placeholder {
      color: var(--red-400);
    }
    //   input:valid {
    //     border-bottom:1px solid green;
    // }
  }
}