
.sb-certificate-trained {
    border: 0.5px solid #ccc;
    border-radius: 4px;
    background-color: #FFFFFF;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  
    .sb-ct-list {
      padding: 16px;
    }
  
    .list-heading {
      border-bottom: 1px solid #ccc;
  
      label {
        font-size: 24px;
      }
    }
  
    .list-item {
      border-bottom: 0.5px solid #ccc;
  
      label {
        font-size: 16px;
        font-weight: normal;
        flex-basis: 60%;
      }
  
      .list-date {
        text-transform: uppercase;
        font-size: 14px;
      }
  
      &:last-child {
        border-bottom: none;
      }
    }
  }
  
  
  @include respond-below(sm) {
  
    .sb-ct-list {
      position: relative;
  
      .list-date {
        position: absolute;
        bottom: 8px;
      }
    }
  
    .list-item {
      label {
        margin-bottom: 16px !important;
        flex-basis: 50%;
      }
    }
  }
  