::ng-deep {
  
      .ui.fixed.header-menu {
        position: -webkit-sticky;
 position: -moz-sticky;
 position: -ms-sticky;
 position: -o-sticky;
 position: sticky;
 z-index: 999;
 border: 0;
 margin-bottom: -1px;
 &.scroll-down{
   top: 0;
   transition: top 0.5s ease-in-out;
 }
 &.scroll-up{
   top: -200px;
   transition: top 0.5s ease-in-out;
 }
      }

  
}
