.sb-offline-tab-header {
  background: #063C72;
  color: #e4e4e4;
  height: 32px;
  padding: 8px 16px;

  .minimize-bar {
    height: 2px;
    width: 12px;
    background: #e4e4e4;
    cursor: pointer;
  }

  i.icon {
    height: auto;
    cursor: pointer;  
    font-size: 12px;
  }
}

.sb-offline-tab-container {
  min-height: 32px;
  width: 100%;
  background: #063C72;
  color: #e4e4e4;
  display: flex;
  align-items: center;

  .profile-image-container {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    .profile-image {
      width: 100%;
      cursor: pointer;
    }
  }

  .sb-offline-btn {
    font-size: 12px;
    font-size: 12px;
    background: transparent;
    color: #e4e4e4;
    outline: 0;
    border: none;
    cursor: pointer;
    display: inline-flex;
    // align-items: center;
    // justify-content: center;
    height: 32px;
    height: 32px;
      padding-left: 10px;
      padding-right: 10px;line-height: 32px;
      border-bottom: 32px solid transparent;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;

    &:hover, &.active {
      border-bottom: 32px solid #024f9d;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      // border-top-left-radius: 60%;
      // border-top-right-radius: 60%;

    }
  }

  .notification-img-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sb-offline-tab-content {
  width: 100%;
  background: #024F9D;
  padding: 8px 16px;
  min-height: 48px;

  .search-btn {
    background: black;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
  }

  .sb-search-box {
    border: none;
  }

  .sb-btn-filter {
    background-color: #0162C5;
    border-color: #0162C5;
  }

  .sb-btn-content-download {
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    color: black;
  }
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  cursor: pointer;

  &.notification-img {
    background-image: url('../../assets/images/notification.svg');
  }

  &.language-img {
    background-image: url('../../assets/images/translate.svg')
  }

  &.offline-status-img {
    background-image: url('../../assets/images/wifi-connection-signal-symbol.svg')
  }

  &.qr-code-img {
    background-image: url('../../assets/images/qr-code.svg');
    background-color: white;
    position: absolute;
    right: 0;
    top: 8px;
    right: 8px;
  }
}


.wifi-symbol {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 8px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);

  .wifi-circle {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: #07b480;
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-radius: 0 100% 0 0;
    
    &.animate {
      opacity: 0;
      -webkit-animation: wifianimation 2s infinite;
      animation: wifianimation 2s infinite;
    }

    &.first {
      width: 16px;
      height: 16px;
      -webkit-animation-delay: 800ms;
      animation-delay: 800ms;
    }

    &.second {
      width: 12px;
      height: 12px;
      -webkit-animation-delay: 400ms;
      animation-delay: 400ms;
    }

    &.third {
      width: 8px;
      height: 8px;
    }

    &.fourth {
      width: 4px;
      height: 4px;
      opacity: 1;
      background-color: #07b480;
      -webkit-animation: none;
      animation: none;
    }
  }
}


@keyframes wifianimation {
  0% {
    opacity: 1
  }

  // 5% {
  //   opactiy: 1
  // }

  // 6% {
  //   opactiy: 1
  // }

  // 100% {
  //   opactiy: 1;
  // }
}
