<div class="sb-offline-tab-header d-flex flex-ai-center">
  <span class="fs-0-785 font-weight-bold mr-auto" title="DIKSHA">DIKSHA</span>
  <span class="minimize-bar mr-16"></span>
  <i class="window maximize outline icon mr-16"></i>
  <i class="close icon"></i>
</div>
<div class="sb-offline-tab-container">
  <div class="offline-status px-16 d-flex flex-ai-center">
    <div class="wifi-symbol animate">
      <div class="wifi-circle first"></div>
      <div class="wifi-circle second"></div>
      <div class="wifi-circle third"></div>
      <div class="wifi-circle fourth"></div>
    </div>
    <span class="offline-message ml-8 fs-0-785">You are offline</span>
  </div>
  <!-- <div class="offline-tab-button ml-16">
    <a href="javascript:void(0);" class="sb-offline-btn active"><span title="Library">Library</span></a>
    <a href="javascript:void(0);" class="sb-offline-btn"><span title="Courses">Courses</span></a>
    <a href="javascript:void(0);" class="sb-offline-btn"><span title="Download Manager">Download Manager</span></a>
    <a href="javascript:void(0);" class="sb-offline-btn"><span title="Get Help">Get Help</span></a>
  </div> -->
  
  <div class="offline-link-btn">
    <a href="javascript:void(0);" class="active"><span class="offline-link active" title="Library">Library</span></a>
    <a href="javascript:void(0);"><span class="offline-link" title="Courses">Courses</span></a>
    <a href="javascript:void(0);"><span class="offline-link" title="Download Manager">Download Manager</span></a>
    <a href="javascript:void(0);"><span class="offline-link" title="Get Help">Get Help</span></a>
  </div>
  <div class="offline-profile-language-section ml-auto">
    <div class="d-flex flex-ai-center">
      <div class="notification-img-container mr-16">
        <span class="img notification-img" title="notification"></span>
      </div>
      <sui-select class="selection sb-offline-header-selection mr-16" labelField="name" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-select>
      <div class="profile-image-container mr-16">
        <img src="../../assets/images/rafi.png" alt="" class="profile-image" title="profile picture">
      </div>
    </div>
  </div>
</div>
<div class="sb-offline-tab-content d-flex">
  <!-- <div class="sb-courses-tab"></div>
  <div class="sb-library-tab"></div>
  <div class="sb-download-manager-tab"></div> -->
  <button class="sb-btn sb-btn-normal sb-btn-primary sb-left-icon-btn sb-btn-filter"><i class="filter icon"></i>Filter
    content</button>
  <div class="sb-search-box medium ml-auto mr-auto">
    <div class="input-div relative">
      <i class="search icon"></i>
      <input class="sb-search-input" type="text" placeholder="Search..." />
      <span class="img qr-code-img"></span>
      <!-- <i class="close icon"></i> -->
      <!-- <div class="sb-loader"></div> -->
    </div>
    <button class="sb-btn sb-btn-normal search-btn">Search</button>
  </div>
  <button class="sb-btn sb-btn-normal sb-btn-primary sb-left-icon-btn sb-btn-content-download"><i
      class="download icon"></i>Download Content</button>
</div>
