@import "variables";
@import "mixins/mixins";

.title{
    color:var(--gray-800);
}

.sb-field{
    .message{
        font-size: calculateRem(10px);
    }
}

.add-member-content{
    width: 100%;
    height:100%;
    background: #E5EDF5;
    .add-member-text{
      max-height: 132px;
    }
}