@import "../../assets/styles/base/variables";

.icons-container{
.column {
  text-align: center;
  color: transparent;
  cursor: pointer;
  transition: color 0.6s ease,
  transform 0.2s ease;
  background: #f2f2f2;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 128px;
  height: 128px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #333333;
    box-shadow: 0 2px 5px 0px $primary-400; 
    background:$primary-100;
    span {
      transform: scale(1.5);
    }
  }
  p {
    font-size: 12px;
    margin: 8px auto;
  }
}
}