<!--Page Heading-->
<h1 class="docs-pageHeading">
  {{pageTitle}}
</h1>
<!--/Page Heading-->

<!--Page Content-->
<div class="docs-sections" *ngFor="let section of sections;">

  <h4 class="docs-sectionHeading">
    {{section.title}}
    <i class="fa fa-code text-gray docs-expandCode" (click)="section.expandCode = !section.expandCode" title="Toggle Code" tabindex="0"></i>
  </h4> 

  <!--Display output-->
  <div class="docs-sectionDemoCode" [innerHTML]="section.demoCode | keepHtml">
  </div>
  <!--/Display output-->
    <!--Display output-->
    <div class="docs-sectionDemoCode">
        <div class="sb-card relative" tabindex="0">
            <div class="sb-card-body">
              <div class="sb-card-metas">
                <div class="sb-card-image mr-16">
                  <img src="assets/images/book.png">
                </div>
                <div class="sb-card-meta course">
                  <div class="sb-card-meta-item mb-15">
                    Topic : Global positioning system and its application
                  </div>
                  <div class="sb-card-meta-item">
                    Subtopic : Limits of artificial intelligence
                  </div>
                </div>
              </div>
              <h4 class="sb-card-title">
                Data Structure and Algorithm - Assignment 1 Paperback
              </h4>
              <div class="sb-card-org ellipsis">
                Academy of European Law (ERA)
              </div>
            </div>
            <div class="sb-card-progressbar">
              <sui-progress class="ui progress success">
                <div class="bar" style="width: 100%;">
                  <div class="progress">100%</div>
                </div>
                <div class="label"></div>
              </sui-progress>
            </div>
            <div class="sb-hover-card" *ngIf="hover">
               <div class="sb-hover-card-content">
                 <div>
                 <div class="d-flex flex-jc-center">
                 <button class="sb-btn sb-btn-outline-white sb-btn-normal">Open</button>
                 </div>
                 <button class="sb-btn sb-btn-outline-white sb-btn-normal sb-right-icon-btn mt-16">Export<i class="sign in alternate icon"></i></button>
                 </div>
               </div>
            </div> 
    </div>
      <!--/Display output-->

  <!--Display code-->
  <div class="docs-sectionCopyCode" *ngIf="section.expandCode">

    <!--Copy code button-->
    <button ngxClipboard [cbContent]="section.copyCode" class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy"></button>
    <!--/Copy code button-->

    <!--Copy code display-->
    <pre>
      <code [highlight]="section.copyCode"></code>
    </pre>
    <!--/Copy code display-->

  </div>
  <!--/Display code-->
  
</div>
<!--Page Content-->