::ng-deep {

}
.sbgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
}
.sb__DesktopOnly {
    display:block;
}
.sbcard {
  width: 100%;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;

  &--resource {
  }
  &--course {
  }
  &__main_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    height: 80px;
  }
  &__img {
    height: 64px;
    width: 64px;
    overflow: hidden;
    margin-right: 8px;flex: 1 0 64px;
    img {
      width: 100%;
    }
  }
  &__info {
  }
  &__title {
    color: #333333;
    font-size: 14px;
    margin-bottom: 4px;
  }
  &__meta1 {
    color: #979797;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
  }
  .dot-divider {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #D8D8D8;
    display: inline-block;
    margin: 0px 8px;
  }
  &__moreinfo {
    border-top: 1px solid #e9e5e5;
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 8px;    min-height: 56px;
  }

  &__meta2 {
    color: #666666;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__medium {
    span {
    }
  }
  &__org {
  }
  &__tags {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__badge {
    display: flex;
    img {
      width: 16px;
    }
  }
  &__type {
    margin-left: 24px;
    background: #999;
    position: relative;
    height: 20px;
    padding: 0 8px 0px 4px;
    color: #fff;
    margin-right: -8px;
    font-size: 11px;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-width: 10px 5px;
      border-style: solid;
      border-color: #999 #999 #999 transparent;
      position: absolute;
      left: -10px;
    }
  }
}

@media screen and (max-width: 1024px) {
    .sb__DesktopOnly {
        display:none;
    }
  }