@import "variables";
@import "mixins/mixins";

.sb-about-title {
  border-bottom: calculateRem(1px) solid var(--primary-color);
  color: var(--primary-color)
}

.sb-left-content {
  display: inline-flex;
  color: var(--gray-400);

  @include respond-below(sm) {
    display: block;
  }

  .list-value {
    margin-left: 0.5rem;
    word-break: break-all;

    @include respond-below(sm) {
      margin-left: 0rem;
    }
  }
}
.update-link:hover,.link:hover {
  text-decoration: underline;
}

@include respond-below(sm){
  .sb-about-content{
    flex-direction: column;
  }
  .sb-left-content .list-value{
  margin-left: 0rem;
 }
}


.offline-telemetry-page-title {
  font-size: calculateRem(14px);
  font-weight: bold;
  border-bottom: calculateRem(1px) solid var(--primary-color);
  color: var(--primary-color)
}

.pill {
  width: auto !important;
  max-width: 90px !important;
  background-color: var(--white);
  white-space: nowrap;
  -webkit-appearance: none;
  text-overflow: ellipsis;
  margin-right: $base-block-space;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  align-items: center;
  border-radius: ($base-block-space * 2);
  padding: ($base-block-space / 2) ($base-block-space * 2);
  color: var(--primary-400);
  min-height: ($base-block-space * 4);
  cursor: pointer;
  &:hover{
    background-color:  var(--primary-400);
    color: var(--white);
  }
  &.active {
    background-color:var(--primary-400);
    color: var(--white);
  }
  &[aria-selected="true"] {
    color: #111;
  }
}