@import "variables";
@import "mixins/mixins";

.sb-banner-title{
  border-bottom: 1px solid var(--primary-color);
}
.sb-about-content{
  display: flex;
  @include respond-below(sm){
    display:block;
  }
}
.sb-banner-link :hover{
  text-decoration: underline;
}

@include respond-below(sm){
.description-list-value {
  margin-left: 0rem;
 }
}