<div class="ui container">
  <div class="sb-banner p-0 mt-24 sb-bg-color-white">
    <div class="sb-banner-title">
      <div class="sb-banner-heading cursor-pointer pt-16 px-16 pb-8">Sunbird Lite Desktop App</div>
    </div>

    <div class="sb-banner-content p-16">
      <div class="sb-banner-content-right">
        <dl class="mt-0 mb-0">
          <div class="sb-about-content">
            <dt class="description-list-key">Version:</dt>
            <dd class="description-list-value">0.12.12</dd>
          </div>
        </dl>
        <dl class="mt-8 mb-0">
          <div class="sb-about-content">
            <dt class="description-list-key">Release Date:</dt>
            <dd class="description-list-value">12/12/19</dd>
          </div>
        </dl>
        <dl class="mt-8 mb-0">
          <div class="sb-about-content">
            <dt class="description-list-key">Supported Languages:</dt>
            <dd class="description-list-value">English, Hindi, Tamil, Bengali</dd>
          </div>
        </dl>
      </div>
      <div class="sb-banner-content-left flex-dc flex-ai-end">
        <button class="sb-btn sb-btn-secondary sb-btn-normal">Update Sunbird Desktop</button>
        <a href="#" class="mt-24 text-center sb-banner-link">Update available for version 0.12.16</a>
      </div>
    </div>
  </div>
</div>