<div class="d-flex flex-dc">
  <div>
    <div class="d-flex practical-appbar">
      <div class="d-flex flex-ai-center flex-jc-space-between practical-appbar__content">
        <div class="back-label">
          <span><i class="angle double left icon"></i></span>Back</div>
      </div>
    </div>
    <div class="d-flex sb-bg-color-gray-0 practical-header">
      <div class="d-flex flex-ai-center flex-jc-space-between practical-header__content">
        <div class="font-weight-bold fs-1">
          Untiled Practice Set <span class="fs-0-785 pl-8"><a href=''>Edit</a></span>
          <div class="fs-0-785 pt-8">License: CC BY 4.0</div>
        </div>
        <div class='practical-sb-buttons'>
          <button class="sb-btn sb-btn-outline-primary sb-btn-normal ripple mr-8" (click)="uploadModal()">Change
            File</button>
          <button class="sb-btn sb-btn-secondary sb-btn-normal ripple">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-section-set">
    <div class="ui container msg-box">
      <div class="msg-box__content">
        <div class="fs-0-92 msg-box__content__label">Under Review</div>
        <!--  <div class="fs-0-92 msg-box__content__label">Published</div> -->
        <!-- <div class="msg-box__content__error-msg font-weight-normal fs-0-92">Rejected with comment: "go fish yourself"</div> -->
        <div class="container msg-box__content__blank-box"></div>
      </div>
    </div>
    <form class='ui container licence-form'>
      <div class='licence-form__content'>
        <div class="d-flex licence-form__content__fields">
          <div class="sb-field">
            <label for="outcome">Learning Outcome</label>
            <sui-select class="selection" labelField="name" name="outcome" [(ngModel)]="selectOutcomeOption"
              placeholder="select">
              <sui-select-option *ngFor="let option of selectOutcomeOption" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="sb-field space-btn-field">
            <label for="level">Learning Level</label>
            <sui-select class="selection" labelField="name" name="level" [(ngModel)]="selectLevelOption"
              placeholder="select">
              <sui-select-option *ngFor="let option of selectLevelOption" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
        </div>
        <div class="d-flex licence-form__content__fields">
          <div class="sb-field">
            <label for="author">Authors</label>
            <input type="email" name="author" class="sb-form-control" placeholder="Type Author's Name">
          </div>
          <div class="sb-field space-btn-field">
            <label for="license">License</label>
            <sui-select class="selection" labelField="name" name="license" [(ngModel)]="selectLicenceOption1"
              placeholder="select">
              <sui-select-option *ngFor="let option of selectLicenseOption" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
        </div>
      </div>
      <p class="paragraph fs-0-785">
        “By creating content on SunbirdEd, you consent to publish it under the Creative Commons License Framework
        <span class="link font-weight-bold">https://creativecommons.org/licenses .</span>
        Please choose the applicable creative commons license you wish to apply to your content”.
      </p>
    </form>
  </div>
</div>
<sui-modal *ngIf="showNormalModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
  class="sb-modal" appBodyScroll (dismissed)="uploadModal()" #modal>
  <div class="sb-modal-header fs-0-92" *ngIf='!uploadFiles'>Upload Files</div>
  <div class="sb-modal-header fs-0-92" *ngIf='uploadFiles'>Uploading...</div>
  <div class="sb-modal-content">
    <div *ngIf='!uploadFiles'>
      <label class="link-label fs-0-785">Refer link for</label>
      <ul class="convert-files fs-0-785">
        <li><a href="" class="link-files">How to convert doc into pdf</a></li>
        <li><a href="" class="link-files">How to convert video file to MP4</a></li>
        <li><a href="" class="link-files">How to compress the MP4 file</a></li>
      </ul>
    </div>
    <div *ngIf='uploadFiles' class="uploading-files">
      <div class='d-flex flex-dc flex-jc-center flex-ai-center icon'>
        <img src="../../assets/images/Spin.gif" class='process-icon'>
        <div class="fs-0-785 pt-16">120 MB Uploading Files (65%)
        </div>
        <sui-progress [value]="60" [maximum]="100" class="mb-0 mr-0"></sui-progress>
      </div>
      <div class="text-center fs-0-785">“By Uploading asset on SunbirdEd, you consent to publish it
        under the Creative Commons License Framework
      </div>
      <div class="text-center fs-0-785 pt-8"><a href="#" class="link-text">https://creativecommons.org/licenses .</a>
      </div>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="uploadDocument()">
      Upload
    </button>
  </div>
</sui-modal>