<div class="d-flex flex-dc">
  <div>
    <div class="d-flex practical-appbar">
      <div class="d-flex flex-ai-center flex-jc-space-between practical-appbar__content ui container">
        <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link sb-left-icon-btn" type="button">
          <i class="icon-svg icon-svg--xxs icon-back mr-4">
            <svg _ngcontent-nak-c11="" class="icon icon-svg--white">
              <use xlink:href="assets/images/libdemo/sprite.svg#arrow-long-left"></use>
            </svg></i>&nbsp;Back</button>
      </div>
    </div>
    <div class="d-flex sb-bg-color-gray-0 practical-header">
      <div class="d-flex flex-ai-center flex-jc-space-between practical-header__content ui container">
        <div class="practical-header__title fs-1">
          Untiled Practice Set <a href='javascript:void(0);' class="fs-0-785 pl-8 links">Edit</a>
          <div class="fs-0-785">License: CC BY 4.0</div>
        </div>
        <div class='practical-sb-buttons'>
          <button class="sb-btn sb-btn-outline-primary sb-btn-normal mr-8" (click)="uploadModal()">Change File</button>
          <button class="sb-btn sb-btn-secondary sb-btn-normal">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-section-set">
    <div class="ui container msg-box">
      <div class="msg-box__content">
        <div class="fs-0-92 msg-box__content__label">Under Review</div>
        <div class="fs-0-92 msg-box__content__label">Published</div>
        <div class="msg-box__content__error-msg font-weight-normal fs-0-92">Rejected with comment: "go fish yourself"
        </div>
        <div class="container msg-box__content__blank-box"></div>
      </div>
    </div>

    <form class='ui container licence-form'>
      <div class='licence-form__content'>
        <div class="ui stackable grid licence-form__content__fields">
          <div class="row">
            <div class="twelve wide column">
              <div class="sb-field">
                <label for="outcome" class="d-flex mb-4">Learning Outcome <span class="sb-color-red">*</span> <a
                    class="ml-4" href="javascript:void(0)" title="title comes here"><img width="16" alt=""
                      src="assets/images/Info.svg"></a></label>
                <sui-select class="selection" labelField="name" name="outcome" [(ngModel)]="selectOutcome"
                  placeholder="select">
                  <sui-select-option *ngFor="let option of selectOutcomeOption" [value]="option">
                  </sui-select-option>
                </sui-select>
              </div>
            </div>
          </div>
          <div class="row pt-0">
            <div class="four wide column">
              <div class="sb-field space-btn-field">
                <label for="level" class="d-flex mb-4">Learning Level <span class="sb-color-red">*</span> <a
                    href="javascript:void(0)" title="title comes here"><img width="16" alt="" class="ml-4"
                      src="assets/images/Info.svg"></a></label>
                <sui-select class="selection" labelField="name" name="level" [(ngModel)]="selectLevel"
                  placeholder="select">
                  <sui-select-option *ngFor="let option of selectLevelOption" [value]="option">
                  </sui-select-option>
                </sui-select>
              </div>
            </div>
            <div class="four wide column p-0">
              <div class="sb-field">
                <label for="author" class="d-flex mb-4">Authors <a href="javascript:void(0)"
                    title="title comes here"><img width="16" alt="" class="ml-4"
                      src="assets/images/Info.svg"></a></label>
                <input type="email" name="author" class="sb-form-control" placeholder="Type Author's Name">
              </div>
            </div>
            <div class="four wide column">
              <div class="sb-field space-btn-field">
                <label for="license" class="d-flex mb-4">License <a href="javascript:void(0)"
                    title="title comes here"><img width="16" alt="" class="ml-4"
                      src="assets/images/Info.svg"></a></label>
                <sui-select class="selection" labelField="name" name="license" [(ngModel)]="selectLicence"
                  placeholder="select">
                  <sui-select-option *ngFor="let option of selectLicenseOption" [value]="option">
                  </sui-select-option>
                </sui-select>
              </div>
            </div>
          </div>
        </div>

        <div class="ui stackable grid licence-form__content__fields">
          <div class="row">
            <div class="twelve wide column">
              <div class="sb-field">
                <label for="outcome" class="d-flex mb-4">Learning Outcome <span class="sb-color-red">*</span> <a
                    class="ml-4" href="javascript:void(0)" title="title comes here"><img width="16" alt=""
                      src="assets/images/Info.svg"></a></label>
                <p class="fs-0-785">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem
                  Ipsum simply dummy text of the printing and typesetting industry</p>
              </div>
            </div>
          </div>
          <div class="row pt-0">
            <div class="four wide column">
              <div class="sb-field space-btn-field">
                <label for="level" class="d-flex mb-4">Learning Level <span class="sb-color-red">*</span> <a
                    href="javascript:void(0)" title="title comes here"><img width="16" alt="" class="ml-4"
                      src="assets/images/Info.svg"></a></label>
                <p class="fs-0-785">Lorem Ipsum is simply dummy text of the printing Dummy text of the printing</p>
              </div>
            </div>
            <div class="four wide column p-0">
              <div class="sb-field">
                <label for="author" class="d-flex mb-4">Author(s) <a href="javascript:void(0)"
                    title="title comes here"><img width="16" alt="" class="ml-4"
                      src="assets/images/Info.svg"></a></label>
                <p class="fs-0-785">Lorem Ipsum is simply </p>
              </div>
            </div>
            <div class="four wide column">
              <div class="sb-field space-btn-field">
                <label for="license" class="d-flex mb-4">License <a href="javascript:void(0)"
                    title="title comes here"><img width="16" alt="" class="ml-4"
                      src="assets/images/Info.svg"></a></label>
                <p class="fs-0-785">ACT456</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="paragraph fs-0-785">
        <strong>Disclaimer:</strong> By uploading assets to ...., you consent to publish under the Common Creative
        License framework. For details, refer
        <a href="javascript:void(0);" class="links">https://creativecommons.org/licenses</a>. Select the appropriate
        license.
      </p>
    </form>
  </div>


</div>


<sui-modal *ngIf="showNormalModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
  class="sb-modal" appBodyScroll (dismissed)="uploadModal()" #modal>
  <div class="sb-modal-header fs-0-92" *ngIf='!uploadFiles'>Upload Files</div>
  <div class="sb-modal-header fs-0-92" *ngIf='uploadFiles'>Uploading...</div>
  <div class="sb-modal-content">
    <div *ngIf='!uploadFiles'>
      <label class="link-label fs-0-785">Refer link for</label>
      <ul class="convert-files fs-0-785">
        <li><a href="javascript:void(0);" class="fs-0-785 links">How to convert doc into pdf</a></li>
        <li><a href="javascript:void(0);" class="fs-0-785 links">How to convert video file to MP4</a></li>
        <li><a href="javascript:void(0);" class="fs-0-785 links">How to compress the MP4 file</a></li>
      </ul>
    </div>

    <div *ngIf='uploadFiles' class="uploading-files">
      <div class='d-flex flex-dc flex-jc-center flex-ai-center icon'>
        <img src="assets/images/Spin.gif" width="64" class='process-icon'>
        <div class="fs-0-785 pt-16">120 MB Uploading Files (65%)
        </div>
        <sui-progress [value]="60" [maximum]="100" class="mb-0 mr-0"></sui-progress>
      </div>
      <div class="text-center fs-0-785">“By Uploading asset on SunbirdEd, you consent to publish it
        under the Creative Commons License Framework
      </div>
      <div class="text-center fs-0-785 pt-4 links"><a href="javascript:void(0);">https://creativecommons.org/licenses
          .</a></div>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="uploadDocument()">
      Upload
    </button>
  </div>
</sui-modal>