@import "variables";
@import "mixins/mixins";

.practical-appbar {
  background: var(--primary-400);
  height: ($base-block-space * 6);

  &__content {
    margin: 0 calculateRem(60px);
    width: 100%;

    .back-label {
      color: var(--white);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.practical-header {
  height: ($base-block-space * 11);

  &__title {
    font-weight: 700;
  }

  &__content {
    margin: 0 calculateRem(60px);
    width: 100%;
    padding: 0 1rem;

    .practical-sb-buttons {
      .sb-btn-file {
        border-top: calculateRem(1px) solid var(--primary-200);
        /* #7AB4EE;*/
        border-bottom: calculateRem(1px) solid var(--primary-200);
        /* #7AB4EE;*/
        border-left: calculateRem(1px) solid #ddd;
        border-right: calculateRem(1px) solid #ddd;
        background: #e0f1fd;
        color: var(--primary-400);
      }

      .sb-btn-submit {
        background: var(--primary-200);
        /*#07BC81 */
        opacity: 50%;
        color: var(--white);
      }
    }
  }
}

.middle-section-set {
  max-width: 854px;
  width: 100%;
  margin: 0 auto;

  .msg-box {
    margin: ($base-block-space * 4) auto ($base-block-space * 4) auto;

    &__content {
      &__label {
        color: #00bd7f;
        padding-bottom: ($base-block-space * 0.75);
      }

      &__error-msg {
        color: var(--red);
        padding-bottom: ($base-block-space * 0.75);
      }

      &__blank-box {
        height: calculateRem(435px);
        width: 100%;
        border: calculateRem(1px) dotted #80a7ce;
        background: #f5f9fc;
        border-radius: ($base-block-space / 2);
      }
    }
  }

  .licence-form {
    &__content {
      height: auto;
      // border: calculateRem(1px) solid #80a7ce;
      // background: #f5f9fc;
      border-radius: calculateRem(4px);
      padding: 0 0;

      &__fields {
        margin: 0px 0px;

        .sb-field {
          width: 100%;
          margin-bottom: 0px;
        }

        .space-btn-field {
          // margin-left: ($base-block-space * 2);
        }
      }
    }

    .paragraph {
      color: var(--gray-200);
      padding: ($base-block-space * 2) 0px ($base-block-space * 2) 0px;
      line-height: normal;
    }
  }
}

.links {
  &:hover {
    text-decoration: underline;
  }
}

.link-label {
  color: var(--gray-100);
  padding-left: ($base-block-space * 3);
}

.convert-files {
  list-style-type: inherit;
  margin: 0px;

  li {
    margin-bottom: ($base-block-space);
    font-size: 15px;
  }
}

:host ::ng-deep {
  .uploading-files {
    margin: ($base-block-space * 3) auto;

    .process-icon {
      width: ($base-block-space * 7);
      height: ($base-block-space * 6);
    }

    .ui.progress {
      margin: calculateRem(12px) ($base-block-space * 3) calculateRem(28px)
        ($base-block-space * 3) !important;
      width: 60%;
    }

    .ui.progress .bar {
      background: var(--tertiary-100);
      height: ($base-block-space) !important;
    }
  }
}

@include respond-below(sm) {
  .practical-header__content {
    margin: 0 0rem;
  }
  .practical-appbar__content {
    margin: 0 0rem;
  }
  .middle-section-set {
    .msg-box {
      margin: 2rem auto 2rem auto !important;
    }
    .licence-form {
      &__content {
        &__fields {
          flex-direction: column;

          .sb-field {
            width: 100%;
          }

          .space-btn-field {
            margin-left: 0px;
            padding-top: calculateRem(12px);
          }
        }
      }
    }
  }
}
.licence-form {
  &__content {
    height: auto;
    border-radius: calculateRem(4px);
    padding: 0 0;
    &__fields {
      margin: 0px 0px;
      .sb-field {
        width: 100%;
        margin-bottom: 0px;
      }
      .space-btn-field {
        // margin-left: ($base-block-space * 2);
      }
    }
  }
  .paragraph {
    color: var(--gray-200);
    padding: calculateRem(16px) 0px;
    line-height: normal;
  }
}
.links {
&:hover {
  text-decoration: underline;
}
}