@import "variables";
@import 'mixins/mixins';

::ng-deep{

.sb-landing-page {
  ul {
    padding:0px;margin:0px;
  }
  //height: 100vh;
  justify-content: center;
  justify-content: space-evenly;
  padding:calculateRem(24px);
  .sb-landing-page-container {
    // padding-top: 7%;

    .sb-landing-page-logo {
      width: calculateRem(150px);
      height: calculateRem(150px);

      img {
        width: 100%;
      }
    }

    .sb-landing-section-title {
      margin-top: calculateRem(15px);

      .sb-doc-app-title {
        text-decoration: none;
      }
    }
  }

  .sb-landing-page-search {
    margin: calculateRem(20px) 0;
  }

  .sb-landing-page-list {
    .sb-site-list-item {
      &:hover {
      //   background: #f1f3f4;
        border: none;
        a {
          color:var(--black);
        }
      }
    }
  }
  #myUL {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    min-height: 200px;
    overflow:auto;
  
    li {
      list-style: none;
      margin: 0px 0px;
      display: inline-block;
      a {
        margin:0.25rem;
        padding: calculateRem(4px) calculateRem(12px);
        line-height: inherit;
        border: calculateRem(1px) solid var(--gray-100);
        border-radius: calculateRem(60px);
        background:var(--white);
        font-size: calculateRem(12px);
        display: inline-block;
        &:hover {
          background: $primary-200;
          color: $white;
          box-shadow: 0 calculateRem(2px) calculateRem(7px) 0 rgba(0, 0, 0, 0.16);
        }
        }
    }
  }
  
  h4.sb-site-list-heading {
    display: none;
  }
  
  .sb-landing-page-copyright {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: calculateRem(24px);
    width: 100%;
    border-top: calculateRem(1px) solid #ddd;
    margin-top: calculateRem(24px);font-size:calculateRem(12px);
  }

}



}
