

<!--Page Content-->

<!--Large Modal-->
<div class="docs-sections">

  <h4 class="docs-sectionHeading">
    Sample Form
    <!-- <i class="fa fa-code text-gray docs-expandCode" title="Toggle Code" tabindex="0"></i> -->
  </h4>

  <!--Display output-->
  <div class="docs-sectionDemoCode">
    <button class="sb-btn sb-btn-primary sb-btn-normal" (click)="ViewForm = !ViewForm">View Form</button>
    <sui-modal *ngIf="ViewForm" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
      class="sb-modal" appBodyScroll (dismissed)="ViewForm = !ViewForm" #modal>
      <div class="sb-modal-header">
        Sample Form
      </div>
      <div class="sb-modal-content">
        <div class="ui form">
          <div class="ui grid">
            <div class="twelve wide column">
              <div class="sb-field-group">
                <label>Full Name</label>
                <div class="sb-field">
                  <input class="sb-form-control" type="text" placeholder="Enter full name">
                </div>
              </div>
            </div>
            <div class="six wide column pt-0">
              <label>Grade</label>
              <sui-multi-select class="fluid selection" labelField="name" #multiSelect>
                <sui-select-option *ngFor="let option of grade" [value]="option">
                </sui-select-option>
              </sui-multi-select>
            </div>

            <div class="six wide column pt-0">
              <label>Class</label>
              <sui-multi-select class="fluid selection" labelField="name" #multiSelect>
                <sui-select-option *ngFor="let option of class" [value]="option">
                </sui-select-option>
              </sui-multi-select>
            </div>
            <div class="six wide column pt-0">
              <label>Subject</label>
              <sui-select class="fluid selection" labelField="name" #select>
                <sui-select-option *ngFor="let option of subject" [value]="option">
                </sui-select-option>
              </sui-select>
            </div>

            <div class="six wide column pt-0">
              <label>Medium</label>
              <sui-select class="fluid selection" labelField="name" #searchSelect>
                <sui-select-option *ngFor="let option of medium" [value]="option">
                </sui-select-option>
              </sui-select>

            </div>

          </div>
        </div>
      </div>
      <div class="sb-modal-actions">
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="ViewForm = !ViewForm">
          Yes
        </button>
        <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="ViewForm = !ViewForm">
          No
        </button>
      </div>
    </sui-modal>
  </div>
  <!--/Display output-->

  <!--Display code-->

  <!--/Display code-->
</div>
<!--/Large Modal-->