@import 'mixins/mixins';

.ui.basic.label{
    border-radius: calculateRem(18.5px);
    font-size: 1.16rem;
    padding: calculateRem(8px) calculateRem(16px);
    color: var(--gray-200);
    img{
        width: calculateRem(16px) !important;
        height: calculateRem(16px) !important;
    }
}