<!-- <div class="sb-offline-download-manager-container">
  <div class="sb-download-manager-header">
    <span class="header-text">Content Manager</span>
    <button class="close-button">&#10006;</button>
  </div>
  <div class="sb-offline-download-manager">
    <div class="download-name">Downloading Content Manager with minimum number</div>
    <div class="download-number-content">
      <span class="number-downloaded">0/350MB</span>
      <span class="download-status failed">&#9888;&nbsp;Download Failed</span>
    </div>
    
  </div>
  <div class="sb-offline-download-manager">
    <div class="download-name">Downloading Content Manager with minimum number</div>
    <div class="download-number-content">
      <span class="number-downloaded">0/350MB</span>
      <span class="download-status success">&#9888;&nbsp;Completed</span>
    </div>
    <div class="download-progressbar-container">
      <div class="download-progress">
        <div class="download-progress-bar" [ngStyle]="{'width': value + '%'}"></div>
      </div>
      <span class="download-percent">45%</span>
    </div>
  </div>
</div> -->
<!-- 
<div class="sb-offline-download-manager">
  <button class="close-btn"></button>
  <div id="progressDiv" class="download-progress-container">
    <div class="download-name-content">
      <div class="download-name">Downloading Content name to be changed by the developer</div>
      <span class="files-downloaded">Copying 77/100</span>
    </div>

    <div class="download-number-content">
      <span class="number-downloaded">10mb/90mb</span>
      <span class="sb-label sb-label-table sb-label-success-0"><span class="success-icon"></span> Downloaded</span>
      <span class="sb-label sb-label-table sb-label-warning-0">Inprogress...</span>
      <span class="sb-label sb-label-table sb-label-error-0">Failed</span>
    </div>

    <div class="download-progressbar-container">
      <div class="download-progress">
        <div class="download-progress-bar" style="width:40%"></div>
      </div>
      <span class="download-percent">40%</span>
    </div>
  </div>

  <div id="failedDiv">

    <div class="download-failed-button-container">
      <button class="sb-btn sb-btn-xs sb-btn-error">Failed Downloads (5)  <span class="arrow-down-icon"></span></button>
    </div>
    <hr>
    <div class="download-failed-container">

      <div class="download-failed-files">
        <span class="failed-file-name">Downloading Content name to be changed by the developer</span>
      </div>
      <div class="download-failed-files">
        <span class="failed-file-name">Downloading Content name to be changed by the developer</span>
      </div>
    </div>
  </div>
</div> -->

<div class="container my-16 sb-certificate-trained">
  <div class="d-flex flex-ai-center sb-ct-list list-heading">
    <label class="mr-auto mb-0">Trainings attended (15)</label>
  </div>
  <div class="d-flex flex-ai-center sb-ct-list list-item">
    <label class="mr-auto mb-0">Systems and Routiens -1</label>
    <span class="list-date mr-8">Jan 19</span>
    <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn"><i class="download icon"></i>Download Completed</button>
  </div>
  <div class="d-flex flex-ai-center sb-ct-list list-item">
    <label class="mr-auto mb-0">Sachin invite Batch</label>
    <span class="list-date mr-8">Feb 19</span>
    <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn"><i class="download icon"></i>Download Completed</button>
  </div>
  <div class="d-flex flex-ai-center flex-jc-center sb-ct-list list-item">
    <button class="sb-btn sb-btn-normal sb-btn-primary sb-right-icon-btn">+11 More<i class="chevron down icon"></i></button>
  </div>
</div>

