
<sui-modal *ngIf="showCenterAlignedModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
[size]="'small'" class="sb-modal sb-modal-center" appBodyScroll (dismissed)="showSuccessModalCenter = !showSuccessModalCenter"
#modal>
<div class="sb-modal-header">
  Modal Heading
</div>
<div class="sb-modal-content">
  Modal Content
</div>
<div class="sb-modal-actions">
  <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="showCenterAlignedModal = !showCenterAlignedModal">
    Yes
  </button>
  <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showCenterAlignedModal = !showCenterAlignedModal">
    No
  </button>
</div>
</sui-modal>

<sui-modal *ngIf="showCenterAlignedModal1" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
[size]="'small'" class="sb-modal sb-modal-content-center" appBodyScroll (dismissed)="showCenterAlignedModal1 = !showCenterAlignedModal1"
#modal>
<div class="sb-modal-header">
  Modal Heading
</div>
<div class="sb-modal-content">
  Modal Content
</div>
<div class="sb-modal-actions">
  <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="showCenterAlignedModal1 = !showCenterAlignedModal1">
    Yes
  </button>
  <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showCenterAlignedModal1 = !showCenterAlignedModal1">
    No
  </button>
</div>
</sui-modal>