
.sb-workspace-filter-container {
    grid-gap: 1rem;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 880px;
    .sb-workspace-filter-field {
        margin: 0;
        margin-bottom: 16px;
        flex: 1 0 25%;
        flex-grow: 0;
        &:last-child {
            margin-top: auto;
            margin-left: auto;
        }
        p {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            color: #333;
            font-weight: normal;
        }
        .ui.selection.dropdown {
            min-width: 16em;
        }
        
    }
}

::ng-deep {

    .sb-workspace-filter-container {
        .ui.dropdown .menu .menu {
            top: inherit !important;
            left: 0;
            right: auto;
            margin: 0 !important;
            border-radius: 0 !important;
            }
            .ui.dropdown .menu {
                > .item {
                  font-size: 12px;
                  min-width: 148px;
                }
            }
    }





}