<div class="info-container d-flex flex-jc-center flex-ai-center p-16 sb-bg-color-white my-16">
  <div class="d-flex">
    <div class="info-container__icon">
      <img src="assets/images/information.svg" width="20px">
    </div>
    <div class="fs-0-785 ml-8">All downloads will be automatically added to <br>
      <a href="#" class="info-container__label font-weight-bold">My Downloads</a></div>
  </div>
</div>

<div class="storage-container d-flex flex-dc p-16 sb-bg-color-white my-16">
    <div class="d-flex">
      <div>
        <img src="assets/images/harddisk.svg" width="32px" height="24px">
      </div>
      <div class="fmedium ml-8">Storage</div>
    </div>
      <sui-progress [value]="60" [maximum]="100" class="mb-0 mr-0 mt-8"></sui-progress>
      <div class="fs-0-785 ml-8 mt-8">50 GB available of 100 GB</div>
  </div>