<div class="ui pointing secondary menu sb-bg-white">
  <div class="ui container">
    <a class="item active">Contribute</a>
    <a class="item">Review</a>
  </div>
</div>
<!-- Contribute HTML-->
<!-- <div class="ui container sb-select-textbox-container d-flex flex-jc-flex-end my-24">
  <div class="mr-16">
    <sui-multi-select class="selection" [options]="options" labelField="name" #multiSelect>
      <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
      </sui-select-option>
    </sui-multi-select>
  </div>
  <div>
    <sui-multi-select class="selection" [options]="options" labelField="name" #multiSelect>
      <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
      </sui-select-option>
    </sui-multi-select>
  </div>
</div>
<div class="sb-pageSection ui container">
  <div class="sb-pageSection-header d-flex flex-jc-space-between">
    <span class="fs-1-143 font-weight-bold m-0 mr-8">Recently Viewed</span>
  </div>
  <div class="twelve wide column">
    <div class="masonry-grid dynamic-section-card">
      <div class="masonry-item">
        <div class="sb-card">
          <div class="sb-card-body">
            <div class="sb-card-metas">
              <div class="sb-card-image mr-15"><img src="https://cdn.sunbirded.org/player/assets/images/book.png" alt="Mathematics"></div>
              <div class="sb-card-meta non-course">
                <div class="d-flex mb-auto">
                  <div class="sb-card-label">Book</div>
                </div>
                <div class="sb-card-meta-item ellipsis" title="Mathematics"> Subject : Mathematics </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="Kindergarten"> Class : Kindergarten </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="English"> Medium : English </div>
              </div>
            </div>
            <h4 class="sb-card-title"> Mathematics</h4>
          </div>

        </div>
      </div>
      <div class="masonry-item">
        <div class="sb-card">
          <div class="sb-card-body">
            <div class="sb-card-metas">
              <div class="sb-card-image mr-15"><img src="https://cdn.sunbirded.org/player/assets/images/book.png" alt="Mathematics"></div>
              <div class="sb-card-meta non-course">
                <div class="d-flex mb-auto">
                  <div class="sb-card-label">Book</div>
                </div>
                <div class="sb-card-meta-item ellipsis" title="Mathematics"> Subject : Mathematics </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="Kindergarten"> Class : Kindergarten </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="English"> Medium : English </div>
              </div>
            </div>
            <h4 class="sb-card-title"> Mathematics</h4>
          </div>

        </div>
      </div>
      <div class="masonry-item">
        <div class="sb-card">
          <div class="sb-card-body">
            <div class="sb-card-metas">
              <div class="sb-card-image mr-15"><img src="https://cdn.sunbirded.org/player/assets/images/book.png" alt="Mathematics"></div>
              <div class="sb-card-meta non-course">
                <div class="d-flex mb-auto">
                  <div class="sb-card-label">Book</div>
                </div>
                <div class="sb-card-meta-item ellipsis" title="Mathematics"> Subject : Mathematics </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="Kindergarten"> Class : Kindergarten </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="English"> Medium : English </div>
              </div>
            </div>
            <h4 class="sb-card-title"> Mathematics</h4>
          </div>

        </div>
      </div>
      <div class="masonry-item">
        <div class="sb-card">
          <div class="sb-card-body">
            <div class="sb-card-metas">
              <div class="sb-card-image mr-15"><img src="https://cdn.sunbirded.org/player/assets/images/book.png" alt="Mathematics"></div>
              <div class="sb-card-meta non-course">
                <div class="d-flex mb-auto">
                  <div class="sb-card-label">Book</div>
                </div>
                <div class="sb-card-meta-item ellipsis" title="Mathematics"> Subject : Mathematics </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="Kindergarten"> Class : Kindergarten </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="English"> Medium : English </div>
              </div>
            </div>
            <h4 class="sb-card-title"> Mathematics</h4>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="sb-pageSection-header d-flex flex-jc-space-between">
    <span class="fs-1-143 font-weight-bold m-0 mr-8">Class 1</span>
  </div>
  <div class="twelve wide column">
    <div class="masonry-grid dynamic-section-card">
      <div class="masonry-item">
        <div class="sb-card">
          <div class="sb-card-body">
            <div class="sb-card-metas">
              <div class="sb-card-image mr-15"><img src="https://cdn.sunbirded.org/player/assets/images/book.png" alt="Mathematics"></div>
              <div class="sb-card-meta non-course">
                <div class="d-flex mb-auto">
                  <div class="sb-card-label">Book</div>
                </div>
                <div class="sb-card-meta-item ellipsis" title="Mathematics"> Subject : Mathematics </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="Kindergarten"> Class : Kindergarten </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="English"> Medium : English </div>
              </div>
            </div>
            <h4 class="sb-card-title"> Mathematics</h4>
          </div>

        </div>
      </div>
      <div class="masonry-item">
        <div class="sb-card">
          <div class="sb-card-body">
            <div class="sb-card-metas">
              <div class="sb-card-image mr-15"><img src="https://cdn.sunbirded.org/player/assets/images/book.png" alt="Mathematics"></div>
              <div class="sb-card-meta non-course">
                <div class="d-flex mb-auto">
                  <div class="sb-card-label">Book</div>
                </div>
                <div class="sb-card-meta-item ellipsis" title="Mathematics"> Subject : Mathematics </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="Kindergarten"> Class : Kindergarten </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="English"> Medium : English </div>
              </div>
            </div>
            <h4 class="sb-card-title"> Mathematics</h4>
          </div>

        </div>
      </div>
      <div class="masonry-item">
        <div class="sb-card">
          <div class="sb-card-body">
            <div class="sb-card-metas">
              <div class="sb-card-image mr-15"><img src="https://cdn.sunbirded.org/player/assets/images/book.png" alt="Mathematics"></div>
              <div class="sb-card-meta non-course">
                <div class="d-flex mb-auto">
                  <div class="sb-card-label">Book</div>
                </div>
                <div class="sb-card-meta-item ellipsis" title="Mathematics"> Subject : Mathematics </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="Kindergarten"> Class : Kindergarten </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="English"> Medium : English </div>
              </div>
            </div>
            <h4 class="sb-card-title"> Mathematics</h4>
          </div>

        </div>
      </div>
      <div class="masonry-item">
        <div class="sb-card">
          <div class="sb-card-body">
            <div class="sb-card-metas">
              <div class="sb-card-image mr-15"><img src="https://cdn.sunbirded.org/player/assets/images/book.png" alt="Mathematics"></div>
              <div class="sb-card-meta non-course">
                <div class="d-flex mb-auto">
                  <div class="sb-card-label">Book</div>
                </div>
                <div class="sb-card-meta-item ellipsis" title="Mathematics"> Subject : Mathematics </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="Kindergarten"> Class : Kindergarten </div>
                <div class="sb-card-meta-item ellipsis mt-4" title="English"> Medium : English </div>
              </div>
            </div>
            <h4 class="sb-card-title"> Mathematics</h4>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Review HTML-->

<div class="ui container sb-textbook-details-container">
  <div class="sb-pageSection-header d-flex mt-32">
    <img src="../../assets/images/book.png" alt="Book" title="Book" style="max-width: 72px;">
    <div class="textbook-details ml-16">
      <label class="d-block fs-1">Mathematics</label>
      <label class="d-block fs-1">Class 1</label>
    </div>
  </div>

  <div class="sb-textbook-allchapters my-16">
    <sui-multi-select class="selection w-100" [(ngModel)]="selectedOptions" [options]="options" labelField="name"
      [isSearchable]="searchable" [isDisabled]="disabled" [hasLabels]="!hideLabels" #multiSelect>
      <sui-select-option *ngFor="let option of multiSelect.filteredOptions" [value]="option">
      </sui-select-option>
    </sui-multi-select>
  </div>

  <div class="sb-chapters-approved-details d-flex flex-jc-flex-end">
    <div><label class="mb-0 fs-1">Total under review: &nbsp;</label>&nbsp;23</div>
    <div class="ml-24"><label class="mb-0 fs-1">Accepted by me: &nbsp;</label>&nbsp;23</div>
  </div>

  <div class="ui container sb-chapterlist mt-16">
    <sui-accordion class="styled fluid sb-accordion" [closeOthers]="true">
      <sui-accordion-panel [isOpen]="true">
        <div title class="sb-accordion-title d-flex flex-ai-center">
          Chapter 1
          <div class="tick-mark-placeholder"></div>
          <button class="sb-btn sb-btn-primary sb-btn-xs sb-left-icon-btn ml-8"><i class="add icon"></i>Create</button>
          <i class="chevron down icon ml-auto"></i>
        </div>
        <div content>
          <div class="chapter-list-details">
            <div class="list-item">
              <span class="item">Experiment 1</span>
              <span class="item">Under review</span>
              <span class="item">Edit</span>
              <span class="item relative position">
                <div class="ui dropdown sb-dotted-dropdown chapter-dotted-menu" suiDropdown autoClose="itemClick">
                  <div class="px-8 w-auto"><span class="sb-dotmenu"></span></div>
                  <div class="menu" suiDropdownMenu>
                    <div class="item">Edit</div>
                    <div class="item">Share</div>
                    <div class="item">Preview</div>
                    <div class="item">Delete</div>
                  </div>
                </div>
              </span>
            </div>
            <div class="list-item">
              <span class="item">Experiment 1</span>
              <span class="item">Under review</span>
              <span class="item">Edit</span>
              <span class="item relative position">
                <div class="ui dropdown sb-dotted-dropdown chapter-dotted-menu" suiDropdown autoClose="itemClick">
                  <div class="px-8 w-auto"><span class="sb-dotmenu"></span></div>
                  <div class="menu" suiDropdownMenu>
                    <div class="item">Edit</div>
                    <div class="item">Share</div>
                    <div class="item">Preview</div>
                    <div class="item">Delete</div>
                  </div>
                </div>
              </span>
            </div>
            <div class="list-item">
              <span class="item">Experiment 1</span>
              <span class="item">Under review</span>
              <span class="item">Edit</span>
              <span class="item relative position">
                <div class="ui dropdown sb-dotted-dropdown chapter-dotted-menu" suiDropdown autoClose="itemClick">
                  <div class="px-8 w-auto"><span class="sb-dotmenu"></span></div>
                  <div class="menu" suiDropdownMenu>
                    <div class="item">Edit</div>
                    <div class="item">Share</div>
                    <div class="item">Preview</div>
                    <div class="item">Delete</div>
                  </div>
                </div>
              </span>
            </div>
            <sui-accordion-panel [isOpen]="true">
              <div title class="sb-accordion-title pr-0">
                Chapter 1.0
                <i class="chevron down icon right-floated d-flex flex-ai-center"></i>
              </div>
              <div content>
                <div class="chapter-list-details pr-0">
                  <div class="list-item">
                    <span class="item">Experiment 1</span>
                    <span class="item">Under review</span>
                    <span class="item">Edit</span>
                    <span class="item relative position">
                      <div class="ui dropdown sb-dotted-dropdown chapter-dotted-menu" suiDropdown autoClose="itemClick">
                        <div class="px-8 w-auto"><span class="sb-dotmenu"></span></div>
                        <div class="menu" suiDropdownMenu>
                          <div class="item">Edit</div>
                          <div class="item">Share</div>
                          <div class="item">Preview</div>
                          <div class="item">Delete</div>
                        </div>
                      </div>
                    </span>
                  </div>
                  <div class="list-item">
                    <span class="item">Experiment 1</span>
                    <span class="item">Under review</span>
                    <span class="item">Edit</span>
                    <span class="item relative position">
                      <div class="ui dropdown sb-dotted-dropdown chapter-dotted-menu" suiDropdown autoClose="itemClick">
                        <div class="px-8 w-auto"><span class="sb-dotmenu"></span></div>
                        <div class="menu" suiDropdownMenu>
                          <div class="item">Edit</div>
                          <div class="item">Share</div>
                          <div class="item">Preview</div>
                          <div class="item">Delete</div>
                        </div>
                      </div>
                    </span>
                  </div>
                  <div class="list-item">
                    <span class="item">Experiment 1</span>
                    <span class="item">Under review</span>
                    <span class="item">Edit</span>
                    <span class="item relative position">
                      <div class="ui dropdown sb-dotted-dropdown chapter-dotted-menu" suiDropdown autoClose="itemClick">
                        <div class="px-8 w-auto"><span class="sb-dotmenu"></span></div>
                        <div class="menu" suiDropdownMenu>
                          <div class="item">Edit</div>
                          <div class="item">Share</div>
                          <div class="item">Preview</div>
                          <div class="item">Delete</div>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </sui-accordion-panel>
          </div>

        </div>
      </sui-accordion-panel>
      <sui-accordion-panel [isOpen]="false">
        <div title class="sb-accordion-title">
          Chapter 1
          <i class="chevron down icon right-floated d-flex flex-ai-center"></i>
        </div>
        <div content>
          <div class="chapter-list-details">
            <div class="list-item">
              <span class="item">Experiment 1</span>
              <span class="item">Under review</span>
              <span class="item">Edit</span>
              <span class="item relative position">
                <div class="ui dropdown sb-dotted-dropdown chapter-dotted-menu" suiDropdown autoClose="itemClick">
                  <div class="px-8 w-auto"><span class="sb-dotmenu"></span></div>
                  <div class="menu" suiDropdownMenu>
                    <div class="item">Edit</div>
                    <div class="item">Share</div>
                    <div class="item">Preview</div>
                    <div class="item">Delete</div>
                  </div>
                </div>
              </span>
            </div>
          </div>

        </div>
      </sui-accordion-panel>
      <sui-accordion-panel [isOpen]="false">
        <div title class="sb-accordion-title">
          Chapter 1
          <i class="chevron down icon right-floated d-flex flex-ai-center"></i>
        </div>
        <div content>
          <div class="chapter-list-details">
            <div class="list-item">
              <span class="item">Experiment 1</span>
              <span class="item">Under review</span>
              <span class="item">Edit</span>
              <span class="item relative position">
                <div class="ui dropdown sb-dotted-dropdown chapter-dotted-menu" suiDropdown autoClose="itemClick">
                  <div class="px-8 w-auto"><span class="sb-dotmenu"></span></div>
                  <div class="menu" suiDropdownMenu>
                    <div class="item">Edit</div>
                    <div class="item">Share</div>
                    <div class="item">Preview</div>
                    <div class="item">Delete</div>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </sui-accordion-panel>
      <sui-accordion-panel [isOpen]="false">
        <div title class="sb-accordion-title">
          Chapter 1
          <i class="chevron down icon right-floated d-flex flex-ai-center"></i>
        </div>
        <div content>
          <div class="chapter-list-details">
            <div class="list-item">
              <span class="item">Experiment 1</span>
              <span class="item">Under review</span>
              <span class="item">Edit</span>
              <span class="item relative position">
                <div class="ui dropdown sb-dotted-dropdown chapter-dotted-menu" suiDropdown autoClose="itemClick">
                  <div class="px-8 w-auto"><span class="sb-dotmenu"></span></div>
                  <div class="menu" suiDropdownMenu>
                    <div class="item">Edit</div>
                    <div class="item">Share</div>
                    <div class="item">Preview</div>
                    <div class="item">Delete</div>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </sui-accordion-panel>

    </sui-accordion>
  </div>
</div>

<sui-modal *ngIf="showLargeModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'normal'"
  class="sb-modal" appBodyScroll (dismissed)="showLargeModal = !showLargeModal" #modal>
  <div class="sb-modal-header">
    Modal Heading
  </div>
  <!-- Selection of Layout in modal -->

  <!-- <div class="sb-modal-content sb-chapterlist-modal">
    <div class="d-flex flex-jc-center flex-w-wrap">
      <div class="sb-card mb-16 template-items p-16 mr-16 relative">
        <div class="sb-card-metas mb-8 flex-jc-center">
          <div class="sb-card-image">
            <img src="../../assets/images/horizontal.png"></div>
        </div>
        <div class="sb-card-content-list mt-8">
          <h6 class="mb-0 text-center"> Recommended</h6>
        </div>
      </div>
      <div class="sb-card mb-16 template-items p-16 mr-16 relative">
        <div class="sb-card-metas mb-8 flex-jc-center">
          <div class="sb-card-image">
            <img src="../../assets/images/horizontal.png"></div>
        </div>
        <div class="sb-card-content-list mt-8">
          <h6 class="mb-0 text-center"> Recommended</h6>
        </div>
      </div>
      <div class="sb-card mb-16 template-items p-16 mr-16 relative">
        <div class="sb-card-metas mb-8 flex-jc-center">
          <div class="sb-card-image">
            <img src="../../assets/images/horizontal.png"></div>
        </div>
        <div class="sb-card-content-list mt-8">
          <h6 class="mb-0 text-center"> Recommended</h6>
        </div>
      </div>
      <div class="sb-card mb-16 template-items p-16 mr-16 relative">
        <div class="sb-card-metas mb-8 flex-jc-center">
          <div class="sb-card-image">
            <img src="../../assets/images/horizontal.png"></div>
        </div>
        <div class="sb-card-content-list mt-8">
          <h6 class="mb-0 text-center"> Recommended</h6>
        </div>
      </div>
      <div class="sb-card mb-16 template-items p-16 mr-16 relative">
        <div class="sb-card-metas mb-8 flex-jc-center">
          <div class="sb-card-image">
            <img src="../../assets/images/horizontal.png"></div>
        </div>
        <div class="sb-card-content-list mt-8">
          <h6 class="mb-0 text-center"> Recommended</h6>
        </div>
      </div>
      
    </div>
  </div> -->

  <!-- Selection of Question in modal -->
  <div class="sb-modal-content sb-chapterlist-modal">
    <div class="ui questionsMenu">
      <button class="sb-btn sb-btn-primary sb-btn-normal width-100">Create</button>
      <div class="ui vertical segments" style="max-height: 300px; overflow-y: auto;">
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 1</label>
            </div>
            <span class="sb-status-label sb-bg-success sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 1</label>
            </div>
            <span class="sb-status-label sb-bg-warning sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 2</label>
            </div>
            <span class="sb-status-label sb-bg-error sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 3</label>
            </div>
            <span class="sb-status-label sb-bg-warning sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 4</label>
            </div>
            <span class="sb-status-label sb-bg-success sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 5</label>
            </div>
            <span class="sb-status-label sb-bg-success sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 6</label>
            </div>
            <span class="sb-status-label sb-bg-success sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 7</label>
            </div>
            <span class="sb-status-label sb-bg-error sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 8</label>
            </div>
            <span class="sb-status-label sb-bg-success sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 9</label>
            </div>
            <span class="sb-status-label sb-bg-warning sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 10</label>
            </div>
            <span class="sb-status-label sb-bg-error sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 11</label>
            </div>
            <span class="sb-status-label sb-bg-warning sb-shape-circle ml-auto"></span>
          </div>
        </div>
        <div class="questionTab ui header aligned segment p-8">
          <div class="item d-flex flex-ai-center cursor-pointer">
            <div class="sb-radio-btn-checkbox sb-radio-btn-primary">
              <input type="radio" id="radio1" name="example">
              <label for="radio1">Question 12</label>
            </div>
            <span class="sb-status-label sb-bg-success sb-shape-circle ml-auto"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="showLargeModal = !showLargeModal">
      Yes
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showLargeModal = !showLargeModal">
      No
    </button>
  </div>
</sui-modal>
