
<!--Page Content-->
<p>Layout size for containers for different device resolutions (Mobile, Tablets, Laptops, Desktop (including large screen resolutions like 1920x1080px), Media Quries (different break points for mentioned resolutions)</p>
<h4>Desktop screen resolution stats India</h4>
<p>Source - <a href="Source - http://gs.statcounter.com/screen-resolution-stats/desktop/india">http://gs.statcounter.com/screen-resolution-stats/desktop/india</a>
</p>
<div class="img-block"><img src="docs/assets/images/gridlayout.jpg" width="100%" alt="" title="" /></div>

    <hr class="sb-doc-hr">

<h4>Grid breakpoint</h4>
<p>Grid breakpoints are based on minimum width media queries, meaning they apply to that one breakpoint and all those above it (e.g., .col-sm-4 applies to small, medium, large, and extra large devices, but not the first xs breakpoint).</p>

<h4>Grid options</h4>
<p>See how aspects of the grid system work across multiple devices with a handy table.</p>

<div class="img-block"><img src="docs/assets/images/gridoptions.jpg" width="100%" alt="" title="" /></div>

<h4>Desktop grid layout</h4>
<p>1366 x 768 - 12 columns with 14px gutter space</p>
<div class="img-block"><img src="docs/assets/images/1366x768layout.jpg" width="100%" alt="" title="" /></div>



<div class="docs-sections sb-doc-hidden" *ngFor="let section of sections;">
  <h4 class="docs-sectionHeading">
    {{section.title}}
    <i class="fa fa-code text-gray docs-expandCode" (click)="section.expandCode = !section.expandCode"
      title="Toggle Code" tabindex="0"></i>
  </h4>

  <!--Display output-->
  <div class="docs-sectionDemoCode" [innerHTML]="section.demoCode | keepHtml">
  </div>
  <!--/Display output-->

  <!--Display code-->
  <div class="docs-sectionCopyCode" *ngIf="section.expandCode">

    <!--Copy code button-->
    <button ngxClipboard [cbContent]="section.copyCode"
      class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy"></button>
    <!--/Copy code button-->

    <!--Copy code display-->
    <pre>
      <code [highlight]="section.copyCode"></code>
    </pre>
    <!--/Copy code display-->

  </div>
  <!--/Display code-->

</div>
<!--Page Content-->