<!-- <div class="status-container d-flex flex-dc flex-jc-center p-24 sb-bg-color-white">
  <div class="d-flex flex-dc flex-jc-center flex-ai-center text-center">
    <div class="status-container__icon">
      <img src="../../../assets/images/noun_School.svg" width="91px" height="162px">
    </div>
    <div class="mt-8 text-center status-container__para">    
      You have to log in to create groups</div>
  </div>
  <button type="button" class="sb-btn sb-btn-primary sb-btn-normal mt-16 w-100">
   Login
  </button>
</div> -->



<div class="status-container d-flex flex-dc flex-jc-center p-24 sb-bg-color-white">
  <div class="d-flex flex-dc flex-jc-center flex-ai-center text-center">
    <div class="status-container__icon">
      <img src="../../../assets/images/noun_School.svg" width="96px" height="102px">
    </div>
    <div class="mt-8 text-center status-container__para">    
      Currently, you do not have any Groups
      Click on create group to create groups,
      choose admin and much more 
      ( Group discription here )</div>
  </div>
  <button type="button" class="sb-btn sb-btn-primary sb-btn-normal mt-16 w-100">
    Create Group
  </button>
</div>

<!-- <div class="status-container d-flex flex-dc flex-jc-center p-24 sb-bg-color-white">
  <div class="d-flex flex-dc flex-jc-center flex-ai-center text-center">
    <div class="status-container__icon">
      <img src="assets/images/offline-icon.svg" width="37px" height="37px">
    </div>
    <div class="mt-8 text-center status-container__para">    
    Add the more groups here....</div>
  </div>
  <button type="button" class="sb-btn sb-btn-secondary sb-btn-normal mt-16 w-100">
    Add Group
  </button>
</div> -->


<!--form-->







