/* Load fonts first*/
@import "./notosans/notosans";
@import "./notosans-bengali/notosans-bengali";
@import "./notosans-malayalam/notosans-malayalam";
@import "./notosans-gurmukhi/notosans-gurmukhi";
@import "./notosans-devanagari/notosans-devanagari";
@import "./notosans-gujarati/notosans-gujarati";
@import "./notosans-telugu/notosans-telugu";
@import "./notosans-tamil/notosans-tamil";
@import "./notosans-kannada/notosans-kannada";
@import "./notosans-oriya/notosans-oriya";
@import "./noto-nastaliqurdu/noto-nastaliqurdu";
@import "./sb-icons/sb-icons";
@import "./semantic-icons/semantic-icons";