<div class="sboffline-appbar ui container">
        <div class="sboffline-appbar__title" title="DIKSHA">DIKSHA</div>
        <div class="sboffline-appbar__actions">
          <div class="actions-item minimise" title="Minimise"><i class="icon-svg icon-svg--xxs icon-minimise"><svg class="icon icon-svg--white"><use xlink:href="assets/images/libdemo/sprite.svg#minimise"></use></svg></i></div>
          <div class="actions-item maximise" title="Maximise"><i class="icon-svg icon-svg--xxs icon-maximise"><svg class="icon icon-svg--white"><use xlink:href="assets/images/libdemo/sprite.svg#maximise"></use></svg></i></div>
          <div class="actions-item restore-down" title="Restore Down"><i class="icon-svg icon-svg--xxs icon-restore-down"><svg class="icon icon-svg--white"><use xlink:href="assets/images/libdemo/sprite.svg#restore-down"></use></svg></i></div>
          <div class="actions-item close" title="Close"><i class="icon-svg icon-svg--xxs icon-close"><svg class="icon icon-svg--white"><use xlink:href="assets/images/libdemo/sprite.svg#close"></use></svg></i></div>
        </div>
      </div>