@import 'mixins/mixins';

.sboffline-appbar{
    height:calculateRem(32px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title{
      color:var(--gray-800); // rgba(255,255,255, 0.8)//
      font-size:calculateRem(8px);
      text-transform:uppercase;
      padding-left:calculateRem(8px);
      html[dir='rtl'] & {
      padding-right:calculateRem(8px);
      padding-left:0;
      }
    }
    &__actions{
        display: flex;
        align-items: center;
        flex:0 0 calculateRem(96px);
        .actions-item{
            width:calculateRem(32px);
            height:calculateRem(32px);
            display:flex;
            align-items: center;
            justify-content: center;
            &:hover{
              background:var(--primary-400);
            }
        }
      .minimise{}
      .maximise{}
      .restore-down{}
      .close{}
    }
  }