<div class="d-flex sb-offline-tab-container">
  <div class="offline-link-btn">
    <a href="javascript:void(0);" class="active"><span class="offline-link active" title="Library">My Library</span></a>
    <a href="javascript:void(0);"><span class="offline-link" title="Courses">Browse</span></a>
    <a href="javascript:void(0);"><span class="offline-link" title="Get Help">Help</span></a>
  </div>

   <sui-select class="selection state-medium" labelField="name" #multiSelect>
      <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
      </sui-select-option>
    </sui-select>

  </div>

