@import 'variables';

.sb-offline-menu-container {
  min-height: 32px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  margin-top:4px;
  a {
    position: relative;
    background:var(--primary-200);
    font-size: 12px;
    padding: 8px 16px;
    color:var(--primary-400);
    margin-right: 8px;
    html[dir="rtl"] & {
        margin-left: 8px;
    }
    border-radius:4px 4px 0 0;
      &:hover,&.active {
        background:var(--primary-400);
        color: var(--white);
      }
    }
}
