<div class="sb-prominent-filter">
  <div class="ui container">
  <div class="sb-prominent-filter-container">
    <div class="sb-prominent-filter-field">
      <label>Select Board</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="sb-prominent-filter-field">
      <label>Medium</label>
        <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false" [isSearchable]="true" #multiSelect>
            <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
            </sui-select-option>
          </sui-multi-select>
    </div>
    <div class="sb-prominent-filter-field">
      <label>Select Grade</label>
        <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
            <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
            </sui-select-option>
          </sui-multi-select>
    </div>
    <div class="sb-prominent-filter-field">
      <label>Subject</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="sb-prominent-filter-field">
      <label>Select Status</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="sb-prominent-filter-field">
      <label>Select Resourcetype</label>
        <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
            <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
            </sui-select-option>
          </sui-multi-select>
    </div>
    <div class="sb-prominent-filter-field">
        <label>Content Type</label>
        <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
            <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
            </sui-select-option>
          </sui-multi-select>
    </div>
    <div class="sb-prominent-filter-field">
        <button class="sb-btn sb-btn-outline-primary sb-btn-normal mr-8">Reset</button>
        <button class="sb-btn sb-btn-primary sb-btn-normal">Apply</button>
    </div>
  </div>
  </div>
</div>

  <!--
<h4>Using Semantic UI Grid</h4>

  <div class="five column doubling ui grid">
    <div class="six wide mobile three wide tablet two wide computer column">
      <label>Select Board</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="six wide mobile three wide tablet two wide computer column">
      <label>Select Board</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="six wide mobile three wide tablet two wide computer column">
      <label>Select Board</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="six wide mobile three wide tablet two wide computer column">
      <label>Select Board</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="six wide mobile three wide tablet two wide computer column">
      <label>Select Board</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="six wide mobile three wide tablet two wide computer column">
      <label>Select Board</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="six wide mobile three wide tablet two wide computer column">
      <label>Select Board</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="six wide mobile three wide tablet two wide computer column">
      <label>Select Board</label>
      <sui-multi-select class="selection sb-select-searchfilter" labelField="name" [hasLabels]="false"  [isSearchable]="true" #multiSelect>
        <sui-select-option *ngFor="let option of multiSelect1" [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="six wide mobile three wide tablet two wide computer column text-right">
      <button class="sb-btn sb-btn-outline-primary sb-btn-normal mr-8">Reset</button>
      <button class="sb-btn sb-btn-primary sb-btn-normal">Apply</button>
    </div>
  </div>
-->

