 <div class="document-container">
   <!-- main content panel start-->
   <section class="document-main">
     <h2>Member Card</h2>
     <p class="fs-1 mt-8">Member card is a content container showing members list with member information such as name,
       photo, status and progress display in the card.</p>
     <!--Page Content start-->
     <div class="docs-sections ComponentBlock" *ngFor="let section of sections;">
       <h2 id="{{section.id}}"></h2>
       <h4 class="docs-sectionHeading">
         <span>{{section.title}}</span>
         <span class="pull-right">
           <a class="fa fa-code text-gray docs-expandCode mx-8" (click)="section.expandCode = !section.expandCode"
             title="Toggle Code" tabindex="0"></a>
           <a class="mx-8 cursor-pointer" title="Try StalkBlitz Demo" (click)="tryDemoLink(section.url)"><svg
               viewBox="0 0 28 28" aria-hidden="true" class="_boltIcon_yct9u_9" height="16" width="16">
               <path d="M12.747 16.273h-7.46L18.925 1.5l-3.671 10.227h7.46L9.075 26.5l3.671-10.227z"></path>
             </svg></a>
         </span>
       </h4>
       <div class="my-8" [innerHTML]="section.description | keepHtml"></div>

       <!--Display output-->
       <div class="docs-sectionDemoCode ComponentBlock__view" [innerHTML]="section.demoCode | keepHtml">
       </div>
       <!--/Display output-->

       <!--Display code-->
       <div class="docs-sectionCopyCode ComponentBlock__code" *ngIf="section.expandCode">

         <sui-tabset>
           <div class="ui top attached tabular menu">
             <a class="item" suiTabHeader="1">HTML</a>
             <a class="item" suiTabHeader="2">CSS</a>
             <a class="item" suiTabHeader="3">Variables</a>
           </div>
           <div class="ui bottom attached segment" suiTabContent="1">
             <!--Copy code button-->
             <button ngxClipboard [cbContent]="section.copyCode"
               class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy m-4"></button>
             <!--/Copy code button-->

             <!--Copy code display-->
             <pre class="my-16">
                <code [highlight]="section.copyCode"></code>
              </pre>
             <!--/Copy code display-->
           </div>
           <div class="ui bottom attached segment" suiTabContent="2">
             <!--Copy code button-->
             <button ngxClipboard [cbContent]="section.copyCSS"
               class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy m-4"></button>
             <!--/Copy code button-->

             <!--Copy code display-->
             <pre class="my-16">
                <code [highlight]="section.copyCSS"></code>
              </pre>
             <!--/Copy code display-->
           </div>
           <div class="ui bottom attached segment" suiTabContent="3">

             <!--Copy code button-->
             <button ngxClipboard [cbContent]="section.copyVar"
               class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy m-4"></button>
             <!--/Copy code button-->
             <!--Copy code display-->
             <pre class="my-16">
                <code [highlight]="section.copyVar"></code>
              </pre>
             <!--/Copy code display-->
           </div>
         </sui-tabset>

       </div>
       <!--/Display code-->
     </div>

     <!--Page Content end-->

     <!--note start-->
     <div class="d-flex note-card fs-1">
       <i class="fa-solid fa-circle-info mx-8 mt-4"></i>
       <p class="fs-1"><strong>Note:</strong> The values of these properties can take in pixels and rem only</p>
     </div>
     <!--note end-->
   </section>
   <!-- main content panel end-->

   <!-- right side panel start-->
   <section class="document-side-panel">
     <header>
       <h2 class="document-side-panel-heading">In this article</h2>
     </header>
     <ul class="document-side-panel-list">
       <li class="document-side-panel-item">
         <a class="document-side-panel-link" href="#horizontal-view" aria-current="true">Members list with horizontal
           alignment</a>
       </li>
       <li class="document-side-panel-item">
         <a class="document-side-panel-link" href="#vertical-view">Members list with vertical alignment</a>
       </li>
       <li class="document-side-panel-item">
         <a class="document-side-panel-link" href="#status">Members list with Status and Menu</a>
       </li>
       <li class="document-side-panel-item">
         <a class="document-side-panel-link" href="#selected">Selected Members list</a>
       </li>
       <li class="document-side-panel-item">
         <a class="document-side-panel-link" href="#progress">Members list with Progress</a>
       </li>
       <li class="document-side-panel-item">
         <a class="document-side-panel-link" href="#complete_progress">Members list with Success Progress</a>
       </li>
       <li class="document-side-panel-item">
         <a class="document-side-panel-link" href="#sizes">Members list with different sizes</a>
       </li>
     </ul>
   </section>
   <!-- right side panel end-->
 </div>
