<div class="sb-members-list-item sb-members-list-item--medium sb-members-list-item--horizontal sb-members-list-item--bold"
 tabindex="0">
    <div class="sb-member text-left">
        <div class="sb-member__img"><span>D</span></div>
        <label class="sb-member__name sb__ellipsis sb__ellipsis--two ml-8"><span>Dummy&lrm;</span></label>   
    </div>
    <div class="d-flex flex-ai-center pr-8">
      <div class="d-flex flex-ai-center">
        <div class="status">Admin</div>
        <div class="menu ml-8" tabindex="0"></div>
      </div>
    <div class="selected ml-8"><img class="icon_select" alt="" src="assets/images/selected.svg" /></div>
    <div class="ml-8 progress-circle progress-circle--sm">
        <svg class="progress-circle__svg" viewport="0 0 2000 2000">
          <circle class="progress-circle__stroke" r="50%" cx="50%" cy="50%"></circle>
          <circle class="progress-circle__stroke" r="50%" cx="50%" cy="50%"></circle>
        </svg>
        <span>20%</span>
      </div>
    <div class="progress-circle progress-circle--sm progress-circle--success"><img class="icon_progress_check" alt="" src="assets/common-consumption/images/completed.svg"></div>
  </div>
</div>

<!--Loading Indicator -->
<div class="sb-members-list-item sb-members-list-item--medium sb-members-list-item--horizontal
sb-members-list-item--bold">    
    <div class="sb-member mr-8">
        <div class="sb-member__img loading-animation">D</div>
        <label class="sb-member__name loading-animation sb--card--highlighter">Dummy</label>   
    </div>
</div>


<!--Page Content-->
<div class="docs-sections ComponentBlock" *ngFor="let section of sections;">

    <h4 class="docs-sectionHeading">
        <span>{{section.title}}</span>
        <span class="pull-right">
            <a class="fa fa-code text-gray docs-expandCode mx-8" (click)="section.expandCode = !section.expandCode"
                title="Toggle Code" tabindex="0"></a>
            <a class="mx-8 cursor-pointer" title="Try StalkBlitz Demo" (click)="tryDemoLink(section.url)"><svg
                    viewBox="0 0 28 28" aria-hidden="true" class="_boltIcon_yct9u_9" height="16" width="16">
                    <path d="M12.747 16.273h-7.46L18.925 1.5l-3.671 10.227h7.46L9.075 26.5l3.671-10.227z"></path>
                </svg></a>
        </span>
    </h4>

    <!--Display output-->
    <div class="docs-sectionDemoCode ComponentBlock__view" [innerHTML]="section.demoCode | keepHtml">
    </div>
    <!--/Display output-->

    <!--Display code-->
    <div class="docs-sectionCopyCode ComponentBlock__code" *ngIf="section.expandCode">

        <sui-tabset>
            <div class="ui top attached tabular menu">
                <a class="item" suiTabHeader="1">HTML</a>
                <a class="item" suiTabHeader="2">CSS</a>
                <a class="item" suiTabHeader="3">Variables</a>
            </div>
            <div class="ui bottom attached segment" suiTabContent="1">
                <!--Copy code button-->
                <button ngxClipboard [cbContent]="section.copyCode"
                    class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy"></button>
                <!--/Copy code button-->

                <!--Copy code display-->
                <pre>
        <code [highlight]="section.copyCode"></code>
      </pre>
                <!--/Copy code display-->
            </div>
            <div class="ui bottom attached segment" suiTabContent="2">
                <!--Copy code button-->
                <button ngxClipboard [cbContent]="section.copyCode2"
                    class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy"></button>
                <!--/Copy code button-->

                <!--Copy code display-->
                <pre>
        <code [highlight]="section.copyCode2"></code>
      </pre>
                <!--/Copy code display-->
            </div>
            <div class="ui bottom attached segment" suiTabContent="3">

                <!--Copy code button-->
                <button ngxClipboard [cbContent]="section.copyCode3"
                    class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy"></button>
                <!--/Copy code button-->
                <!--Copy code display-->
                <pre>
        <code [highlight]="section.copyCode3"></code>
      </pre>
                <!--/Copy code display-->
            </div>
        </sui-tabset>

    </div>
    <!--/Display code-->

</div>
<!--Page Content-->