@import "variables";
@import "mixins/mixins";

.sbheader--offline {
  & > div {
    margin-bottom: 8px;
  }
  & > div:last-child {
    margin-bottom: 0px;
  }
  @include respond-above(sm) {
    & > div {
      margin-bottom: 0px;
    }
  }
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 64px;
  background: var(--white);
  flex-direction: column;
  padding: 8px 0px;
  background: var(--white);
  @include respond-above(sm) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  &__branding {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      img {
        height: 45px;
      }
    }
    .onoff-status {
      margin: 0px 16px;
      font-size: 10px;
      span {
        padding: 4px 8px;
        border-radius: 50px;
        color: #fff;
      }
      .online {
        background: var(--secondary-400);
      }
      .offline {
        background: var(--tertiary-400);
      }
    }
  }
  &__search {
    width: 100%;
    @include respond-above(sm) {
      flex: 0 0 33.333%;
    }
  }
  &__actions {
  }
}

.sbsearchbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 32px;
  &__input-container {
    flex: 1;
    position: relative;
    .sbsearchbox__input {
      width: 100%;
      font-size: 12px;
      height: 32px;
      outline: 0;
      padding: 4px 32px 4px 8px;
      border-radius: 4px 0 0 4px;
      line-height: normal;
      background: var(--white);
      border: 1px solid var(--primary-200);
      border-right: 0px;
      html[dir="rtl"] & {
        padding: 4px 8px 4px 32px;
        border-radius: 0px 4px 4px 0px;
        border-left: 0px;
      }
    }
    .icon-close {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translatey(-50%); 
      html[dir="rtl"] & {
        left: 8px;
      }
    }
  }
  &__input-action {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    background: var(--primary-400);
    border-radius: 0px 4px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    html[dir="rtl"] & {
      border-radius: 4px 0px 0px 4px;
    }
  }
}
