<!-- <div class="sb-onbrd-g-box"> 
		<div class="sb-onbrd-g-box__language-select">
		<div class="sb-onbrd-g-box__language-select__item">
			<span>हिंदी</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>ಕನ್ನಡ</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>ਰਾਜਸਥਾਨੀ</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>मराठी</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>ਰਾਜਸਥਾਨੀ</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>राजस्थानी</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item active">
			<span>English</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>తెలుగు</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>हिंदी</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>ಕನ್ನಡ</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>ਰਾਜਸਥਾਨੀ</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
		<div class="sb-onbrd-g-box__language-select__item">
			<span>मराठी</span>
			<img src="../../assets/images/schooling/round-check.svg" class="check-icon" />
		</div>
	</div>
	</div> -->

<div class="sb-onbrd-g-box px-32 pb-32">
  <p class="subtitle">Your are a</p>
  <div class="sb-onbrd-g-box__guest">
    <div class="sb-onbrd-g-box__guest__item">
      <div class="p-16">
        <img src="./assets/images/schooling/guest-img1.svg" />
        <img src="./assets/images/schooling/round-check2.svg" class="check-icon" />
        <div class="title">Teacher</div>
      </div>
    </div>
    <div class="sb-onbrd-g-box__guest__item active">
      <div class="p-16">
        <img src="./assets/images/schooling/guest-img2.svg" />
        <img src="./assets/images/schooling/round-check2.svg" class="check-icon" />
        <div class="title">Student</div>
      </div>
    </div>
    <div class="sb-onbrd-g-box__guest__item">
      <div class="p-16">
        <img src="./assets/images/schooling/guest-img3.svg" />
        <img src="./assets/images/schooling/round-check2.svg" class="check-icon" />
        <div class="title">Other</div>
      </div>
    </div>
  </div>
</div>
