@import 'variables';
@import 'mixins/mixins';

.bg-image {
  background: url('/assets/images/bg.svg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  position: fixed;
  height: 100%;

  .loginform {
    background: var(--white);
    height: 100%;
    width: 100%;
    padding: 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 40px -14px rgba(0,0,0,0.5);
  
    @include respond-above(sm) {
      max-width: 360px;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%; 
      transform: translate(-50%, -50%);
    }

    &__content {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      height: 100%;

      &__header {
        padding: ($base-block-space * 2);
      }

      // .active-slide{
      //   display:none;
      // }
      // .inactive-slide{
      //   display:block;
      // }
      .swiper-slide {
        height: 360px;
        width:100%;
        transition: all 5s linear;
     
        .slide-title {
          font-size: 14px;
          color: #024F9D;
          margin-bottom: 0px;
        }

        .title {
          text-align: center;
          font-size: 16px;
          padding: ($base-block-space * 3) 0px;
        }

        .header-title {
          text-align: left;
          font-size: 12px;
          padding: ($base-block-space * 3) 0px;
          color: #333333;
        }

        .language-selection {
          width: 100%;
          margin: 0px auto ($base-block-space * 6) auto;
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          background: $primary-0;
          box-shadow: 0 2px 4px 0 #D8D8D8;
          height: 100%;
          padding: ($base-block-space * 2) 0px;
          max-height: 280px;
        }

        .fields-selection {
          // margin: 0px 0px ($base-block-space * 6);

          .textColorChange {
            color: blue;
          }

          &__label {
            padding: ($base-block-space +2) 2px;
            font-weight: normal;
            margin-bottom: 0px;
          }

          .selectionfield {
            height: 38px;
          }

          .ui.multiple.dropdown {
            border-color: #dededf;

            &:hover {
              border-color: #bdb6b6;
            }
          }

          .ui.selection.dropdown {
            margin-bottom: 8px;
            padding: ($base-block-space);
            color: #333333;
            border-radius: 0px;
          }
        }
      }

      .bullets-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0px;
        cursor: pointer;

        .circle {
          margin: 0 3px;
          border: 1px solid #eee;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }

        .active {
          background: blue;
        }

        .update {
          background: gray;
        }

        .completed {
          background: green;
        }
      }

      .arrow-icon {
        float: right;
      }
    }
  }
}
