<div class="loginform">
    <div class="loginform__content">
      <div class="loginform__content__header">
        <img src="assets/images/DIKSHA.svg" alt="DIKSHA Logo">
      </div>

      <div *ngIf="!showContent">
        <div class="title">Choose Your Preferred Language</div>
        <div class="language-selection">
          <div class="scrollbar" id="stylingScroll">
            <label class="language-selection__container" *ngFor="let select of languageSelection">
              <div class="language-selection__label">{{select.name}}</div>
              <input type="radio" name="categories" [value]="select.name" [(ngModel)]="select.checked">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="showContent">
        <div class="header-title">Provide the details below for suggesting content that is relevant for you. </div>
        <div class='d-flex flex-dc fields-selection'>
          <div class="d-flex fields-selection__label">Board</div>
          <sui-select class="selection" labelField="name" [(ngModel)]="selectBoard">
            <sui-select-option *ngFor="let option of selectBoardOption" [value]="option">
            </sui-select-option>
          </sui-select>

          <div class="d-flex fields-selection__label">Medium</div>
          <sui-multi-select class="selection" labelField="name" [(ngModel)]="selectMedium" #multiSelect>
            <sui-select-option *ngFor="let option of selectMediumOption" [value]="option">
            </sui-select-option>
          </sui-multi-select>

          <div class="d-flex fields-selection__label">Class</div>
          <sui-multi-select class="selection" labelField="name" [(ngModel)]="selectClass" #multiSelect>
            <sui-select-option *ngFor="let option of selectClassOption" [value]="option">
            </sui-select-option>
          </sui-multi-select>
        </div>

      </div>

      <button type="button" class="sb-btn sb-btn-primary sb-btn-sm" (click)='showNextContent()'>
        CONTINUE
        <span class='icon'><i class="arrow right icon"></i></span></button>
    </div>

</div>
