<div class="hamberger-menu">
  <img src="assets/images/menu.png" alt="Menu">
</div>
<div class="sb-pdf-container">
  <div class="sb-pdf-header">
    <div class="download-pdf-image">
      <img src="assets/images/down-arrow.png" alt="Download">
    </div>
    <div class="pdf-name">Indian Agriculture and its development of its rural country</div>
    <div class="pdf-searchbar">
      <div class="search-box">
        <input type="number" id="pdf-find-text" class="search-input" min="1">
      </div>
      <div class="search-page-pdf-arrow-container">
        <img src="assets/images/arrow-pointing-to-right.png" alt="" class="search-page-pdf-arrow">
      </div>
      <div> &nbsp;/ 126</div>
    </div>
  </div>
  <div class="sb-pdf-headerfix"></div>
  <div class="sb-pdf-body"></div>
</div>

<button class="sb-btn-arrows next"><span class="chevron right"></span></button>
<button class="sb-btn-arrows prev"><span class="chevron left"></span></button>

<!-- Download Pdf popup -->

<div class="download-modal-container">
  <div class="download-modal-content">
    <div class="modal-body">
      <div class="pdf-download-image">
        <img src="assets/images/down-arrow.png" alt="Download" title="Download">
      </div>
      <div class="download-name-container">
        <div class="download-name">Confirm Download</div>
        <div class="download-description">“PFD file name here” will be saved on your device. </div>
        <div class="download-size">File size: 1.65mb</div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="sb-btn sb-btn-xs sb-btn-link sb-btn-link-gray cancel-link" title="Cancel">CANCEL</a>
      <a class="sb-btn sb-btn-xs sb-btn-link sb-btn-link-primary download-link" title="Download">DOWNLOAD</a>
    </div>
  </div>
</div>

<!-- Overlay Menu -->

<div class="overlay-menu-container">
  <div class="overlay-menu heading">Unit 2.3 Indian Agriculture 
    and its development </div>
  <div class="overlay-menu list"><span class="menu-list-icon"><img src="assets/images/replay-arrow.png"></span>Replay content</div>
  <div class="overlay-menu list"><span class="menu-list-icon"><img src="assets/images/sound.png"></span>Sound on</div>
  <div class="overlay-menu list"><span class="menu-list-icon"><img src="assets/images/speech-bubble.png"></span>Teacher's note</div>
  <div class="overlay-menu list"><span class="menu-list-icon"><img src="assets/images/exit-to-app-button.png"></span>Exit</div>
</div>