<div class="sb-onboard">
  <button type="button" class="sb-btn sb-btn-xs sb-btn-error close-modal"><i class="icon-svg icon-svg--xxs icon-close mr-4">
      <svg class="icon icon-svg--white">
        <use xlink:href="assets/images/libdemo/sprite.svg#close-button"></use>
      </svg></i> <span class="computer only">Close</span></button>
  <div class="sb-onboard__container">
    <div class="sb-onboard__header">
      <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary back-btn" (click)="prev()"
        *ngIf='!disableBack'><i class="icon-svg icon-svg--xxs icon-back">
          <svg class="icon icon-svg--primary">
            <use xlink:href="./assets/images/libdemo/sprite.svg#arrow-long-left"></use>
          </svg></i> <span class="ml-4 computer only">Back</span></button>
      <img src="./assets/images/schooling/brand-logo.svg" class="brand-logo" />
      <h1>Welcome to Sunbird</h1>
    </div>
    <div class="sb-onboard__content">
      <div class="animation" [ngClass]="{'back': disableBack && visitedBack}" *ngIf="screenSequence['school-box-layout']"><app-schooling-box-layout></app-schooling-box-layout></div>
      <div class="animation show" *ngIf="screenSequence['school-information']">
        <app-schooling-information></app-schooling-information>
      </div>
    </div>
    <div class="sb-onboard__footer">
      <button type="button" class="sb-btn sb-btn-sm sb-btn-primary text-uppercase w-100" (click)="next()">continue <span
          class='arrow-icon'>
          <i class="icon-svg icon-svg--xxs icon-back">
            <svg class="icon icon-svg--white">
              <use xlink:href="./assets/images/libdemo/sprite.svg#arrow-long-right"></use>
            </svg></i></span></button>
    </div>
  </div>
</div>