<div class="sb-onboard">
  <div class="sb-onboard__container">
    <div class="sb-onboard__header">
      <img src="../../assets/images/schooling/brand-logo.svg" class="brand-logo" />
      <h1>Welcome to Sunbird</h1>
      <p>Choose Your Preferred Language</p>
    </div>
    <div class="sb-onboard__content">
     <app-schooling-box-layout></app-schooling-box-layout>
    </div>
    <div class="sb-onboard__footer">
      <button type="button" class="sb-btn sb-btn-sm sb-btn-primary text-uppercase w-100">continue <span class='arrow-icon'>
        <i class="icon-svg icon-svg--xxs icon-back">
        <svg class="icon icon-svg--white">
      <use xlink:href="assets/images/libdemo/sprite.svg#arrow-long-right"></use>
    </svg></i>
  
  </span></button>
    </div>
  </div>
</div>
