<div class="m-32">
  <div class="sb-grid-layout sb-grid-layout-two">
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
     <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div> <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
    <div class="sb-grid-content">
      <img src="assets/images/book.png" alt="Sample photo">
    </div>
  </div>
</div>