<div class="feedback-popup-solution">
  <!-- correct answer popup -->
  <div class="feedback-overlay">
    <div class="feedback-content feedback-popup-content correct-answer-popup">
      <div class="left-section">
        <div class="result">
          <div class="banner">
            <img height="100%" width="100%" src="assets/images/banner3.png">
          </div>
          <div class="empty-layer"></div>
          <div class="sign-board">
            <img width="40%" src="assets/images/check.png">
          </div>
        </div>
      </div>
      <div class="right-section">
        <button type="button" class="sb-btn sb-btn-primary sb-btn-normal sb-btn-responsive">Next</button>
        <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary sb-btn-responsive">Solution</button>
      </div>
    </div>
  </div>
  <!-- wrong answer popup -->
  <div class="feedback-overlay">
      <div class="feedback-content feedback-popup-content wrong-answer-popup">
        <div class="left-section">
          <div class="result">
            <div class="banner">
              <img height="100%" width="100%" src="assets/images/banner1.png">
            </div>
            <div class="empty-layer"></div>
            <div class="sign-board">
              <img width="40%" src="assets/images/wrong.png">
            </div>
          </div>
        </div>
        <div class="right-section">
          <button type="button" class="sb-btn sb-btn-primary sb-btn-normal sb-btn-responsive">Next</button>
          <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary sb-btn-responsive">Solution</button>
        </div>
      </div>
    </div>
    <!-- question and answer section -->
  <div class="feedback-content">
    <div class="close-btn">
      <img src="assets/images/feedback-close.svg" alt="close" class="w-100">
    </div>
    <div class="feedback-content-questions">
      <div class="feedback-content-title">Question</div>
      <div class="feedback-content-description">
        Well educated, intellectual people, especially scientists at all times demonstrate considerably smaller
        adherence to religiosity than others. However, there are still believers of the idea of the God in science. If
        we exclude from their number those who feel a painful requirement for external protection and support by virtue
        of their poor living circumstances, there are those who come to idea of the God as a result of amazement at a
        world that has many unsolved problems. The surprising diversification of subjects and entities can be
        scientifically formulated in principle as it can sustain the quasi-stable condition and demonstrates
        development.
      </div>
    </div>
    <div class="feedback-content-questions">
      <div class="feedback-content-title">Answer</div>
      <div class="feedback-content-description">
        B. Well educated, intellectual people, especially scientists at all times demonstrate considerably smaller
        adherence to religiosity than others.
      </div>
    </div>
    <div class="feedback-content-questions">
      <div class="feedback-content-title">Solution</div>
      <div class="feedback-content-description">
        Well educated, intellectual people, especially scientists at all times demonstrate considerably smaller
        adherence to religiosity than others. However, there are still believers of the idea of the God in science. If
        we exclude from their number those who feel a painful requirement for external protection and support by virtue
        of their poor living circumstances, there are those who come to idea of the God as a result of amazement at a
        world that has many unsolved problems. The surprising diversification of subjects and entities can be
        scientifically formulated in principle as it can sustain the quasi-stable condition and demonstrates
        development.Common sense suggests, that for an explanation of the observable diversification in life, it is
        necessary to admit that each separate subject, each organism, each social unit, and even each computer program
        should contain a special internal causative engine, a local determinism, which maintains an autonomous internal
        life in it. The conventional concept of determinism does not suppose the existence of such sources. This
        represents a scandalous weakness in the concept. Not finding the required causative source within the framework
        of philosophy, people are compelled to address the always-available, exotic, exciting fantasies of the
        irrational sources that are available in religion and mysticism.
        <div class="feedback-gallery">
          <video class="w-100 video-section" controls="">
            <source src="mov_bbb.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <div class="feedback-content-questions">
      <div class="feedback-content-title">Solution</div>
      <div class="feedback-content-description">
        <div class="feedback-gallery">
          <img src="assets/images/landingPage.jpg" alt="close" class="w-100">
        </div>
      </div>
    </div>
    <div class="feedback-action-buttons">
      <button class="sb-btn sb-btn-primary sb-btn-normal sb-btn-responsive"> Done </button>
    </div>
  </div>
  <!-- full page gallery section -->
  <div class="feedback-gallery-view">
      <div class="close-btn">
        <img src="assets/images/feedback-close.svg" alt="close" class="w-100">
      </div>
      <div class="feedback-gallery">
        <video class="w-100 video-section" controls="">
          <source src="mov_bbb.mp4" type="video/mp4">
        </video>
        <!-- <img src="assets/images/landingPage.jpg" alt="close" class="w-100 image-section"> -->
      </div>
    </div>
</div>



