<!--Page Heading-->
<h1 class="docs-pageHeading">
  {{pageTitle}}
</h1>
<!--/Page Heading-->

<!--Page Content-->
<div class="docs-sections">

  <h4 class="docs-sectionHeading">
    Standard Toasters
    <i class="fa fa-code text-gray docs-expandCode" (click)="section.expandCode = !section.expandCode" title="Toggle Code" tabindex="0"></i>
  </h4> 

  <!--Display output-->
  <div class="docs-sectionDemoCode">

      <button class="sb-btn sb-btn-info sb-btn-normal" (click)="showLargeModal = !showLargeModal">Info</button>
      <button class="sb-btn sb-btn-success sb-btn-normal" (click)="showLargeModal = !showLargeModal">Success</button>
      <button class="sb-btn sb-btn-warning sb-btn-normal" (click)="showLargeModal = !showLargeModal">Warning</button>
      <button class="sb-btn sb-btn-error sb-btn-normal" (click)="showLargeModal = !showLargeModal">Error</button>

      
  </div>
  <!--/Display output-->

  <!--Display code-->
  <div class="docs-sectionCopyCode" *ngIf="section.expandCode">

    <!--Copy code button-->
    <button ngxClipboard [cbContent]="section.copyCode" class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy"></button>
    <!--/Copy code button-->

    <!--Copy code display-->
    <pre>
      <code [highlight]="section.copyCode"></code>
    </pre>
    <!--/Copy code display-->

  </div>
  <!--/Display code-->
  
</div>
<!--Page Content-->