/* buttons sytle guide */
// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
// base button styles
.sb-btn {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: 0;
    display: inline-block;
    border: 1px solid;
    color: $white-color;
    cursor: pointer;
    min-width:($base-block-space * 8);
    @include border-radius(3px);
    text: {
        transform: capitalize;
        decoration: none;
    }
    &:hover {
        opacity: 1;
    }
    &.disabled,
    &.disabled:hover,
    &:disabled,
    &:disabled:hover {
        background-color: $gray-100;
        color:$gray-200;
        border:1px solid $gray-100;
        cursor: not-allowed;
    }
    &+.sb-btn {
        margin:0 $base-block-space 0 0;
    }
}
// button link
.sb-btn-link {
    background:none;
    border:0;
    color:$primary-color;
    text-decoration: underline;
    &:hover {
        font-weight:$font-weight-bold;
    }
    
}
// button sizes
.sb-btn-xs, .sb-btn-normal, .sb-btn-sm, .sb-btn-md {
    padding: ($base-block-space * 1) ($base-block-space * 2);
}
.sb-btn-xs {
    height:($base-block-space * 3);
    padding: ($base-block-space * 0) ($base-block-space * 1);
    font-size:$font-size-sm;
}
//primary button style
.sb-btn-normal {
    height:($base-block-space * 4);
    font-size:$font-size-sm;
}
.sb-btn-sm {
    height:($base-block-space * 5);
    font-size:$font-size-normal;
}
.sb-btn-md {
    height:($base-block-space * 6);
    font-size:$font-size-md;
}
.sb-btn-lg {
  height:($base-block-space * 7);
  padding: ($base-block-space * 2) ($base-block-space * 3);
  font-size:$font-size-lg;
}
// default outline colored btns
.sb-btn-outline-primary{
    @include btn-theme-bgwhite($primary-color);
} 
.sb-btn-outline-secondary{
    @include btn-theme-bgwhite($secondary-200);
} 
.sb-btn-outline-tertiary{
    @include btn-theme-bgwhite($tertiary-color);
}
// status outline buttons
.sb-btn-outline-info{
    @include btn-theme-bgwhite($primary-color);
} 
.sb-btn-outline-success{
    @include btn-theme-bgwhite($secondary-200);
} 
.sb-btn-outline-warning{
    @include btn-theme-bgwhite($tertiary-color);
}   
.sb-btn-outline-error{
    @include btn-theme-bgwhite($red-400);
} 
.sb-btn-outline-gray{
    @include btn-theme-bgwhite($gray-800);
} 
// default colored btns
.sb-btn-primary,.sb-btn-info{
    @include btn-theme($primary-color);
    &:hover,&:active {
        background: $primary-800;
    }
} 
.sb-btn-secondary,.sb-btn-success{
    @include btn-theme($secondary-200);
    &:hover,&:active {
        background: $secondary-400;
    }
}
.sb-btn-tertiary,.sb-btn-warning{
    @include btn-theme($tertiary-color);
    &:hover,&:active {
        background: $tertiary-400;
    }
}
.sb-btn-success{
    @include btn-theme($success-color);
    &:hover,&:active {
        background: $secondary-400;
    }
} 
.sb-btn-info{
    @include btn-theme($info-color);
    &:hover,&:active {
        background: $primary-800;
    }
}
.sb-btn-warning{
    @include btn-theme($warning-color);
    &:hover,&:active {
        background: $tertiary-400;
    }
} 
.sb-btn-error{
    @include btn-theme($danger-color);
    &:hover,&:active {
        background: $red-100;
    }
}




 .sb-btn-loading-spinner {
    padding: ($base-block-space * 1)  ($base-block-space * 2)  ($base-block-space * 1)  ($base-block-space * 1);
  }

  @keyframes spinner-border {
    to { transform: rotate(360deg); }
  }



  .loading-spinner { 
    width: 1rem;
    height: 1rem;
    margin-right:5px;
    border-width: .2em;
    display: inline-block;
    vertical-align: text-bottom;
    border: .15em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;

  }
  
  .sb-btn-loading:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin: -.64285714em 0 0 -.64285714em;
      width: 1.28571429em;
      height: 1.28571429em;
      border-radius: 500rem;
      border: .2em solid rgba(0,0,0,.15);
  }
  
  .sb-btn-loading:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin: -.64285714em 0 0 -.64285714em;
      width: 1.28571429em;
      height: 1.28571429em;
      -webkit-animation: button-spin .6s linear;
      animation: button-spin .6s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      border-color: #fff transparent transparent;
      border-style: solid;
      border-width: .2em;
      -webkit-box-shadow: 0 0 0 1px transparent;
      box-shadow: 0 0 0 1px transparent;
  }


// Buttons with icon

.sb-right-icon-btn {
    padding: ($base-block-space * 1)  ($base-block-space * 1)  ($base-block-space * 1)  ($base-block-space * 2);
    i.icon{
        margin-left:$base-block-space;
        margin-right:0;
    }
}
.sb-left-icon-btn {
    padding: ($base-block-space * 1)  ($base-block-space * 2)  ($base-block-space * 1)  ($base-block-space * 1);
    i.icon{
        margin-right:$base-block-space;
    }
}

//Buttons toggle

.sb-toggle {
    min-height: ($base-block-space * 3);
    position: relative;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    min-height: ($base-block-space * 2);
    font-size: 1rem;
    min-width: ($base-block-space * 2);
    input {
        width: 3.5rem;
        height: ($base-block-space * 3);
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        outline: 0;
        z-index: 3;
    }
    label {
        min-height: ($base-block-space * 2);
        padding-left: ($base-block-space * 6);
        color: rgba(0,0,0,.87);
        position: relative;
        display: block;
        outline: 0;
        font-size: 1rem;
        &:before {
            display: block;
            position: absolute;
            content: '';
            z-index: 1;
            transform: none;
            border: none;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.05);
            box-shadow: none;
            width:($base-block-space * 5);
            height: ($base-block-space * 3);
            border-radius: 500rem;
            @include btn-theme($primary-color);
            transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease;
        
        }
        &:after {
            background: #fff linear-gradient(transparent,rgba(0,0,0,.05));
            position: absolute;
            content: ''!important;
            opacity: 1;
            z-index: 2;
            border: none;
            width: ($base-block-space * 3);
            height: ($base-block-space * 3);
            top: 1px;
            left: 0;
            border-radius: 500rem;
            -webkit-transition: background .3s ease,left .3s ease;
            transition: background .3s ease,left .3s ease;
        } 
    }
    input~label:after {
        left: 0.1rem;
        box-shadow: none;
    }
    

}


// button groups

.btn-group {
    border: 1px solid rgba(34,36,38,.15);
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-direction: row;
    font-size: 0;
    vertical-align: baseline;
    margin: 0 .25em 0 0;
    .sb-btn {
        background: #F2F2F2;
        border-left: 1px solid rgba(34,36,38,.15);
        flex: 1 0 auto;
        margin: 0;
        border-radius: 0;
        margin: 0;
        border:0;
        color: rgba(0,0,0,.95);
        min-width: ($base-block-space * 5);
        &:first-child {
            border-left: none;
            margin-left: 0;
            border-top-left-radius: .28571429rem;
            border-bottom-left-radius: .28571429rem;
        }
        &:active, &.active {
            background-color: $white-color;
            color: #024F9D;
        }
        .icon {
            margin: 0;
            vertical-align: top;
        }

    }
    
}


//dashed buttons

.sb-btn-dashed {
  border: 0.5px solid $primary-color;
  border-style: dashed;
  background-color: $white-color;
  color: $primary-color;
}

// disabled button
.sb-btn-disabled,
.sb-btn-primary[disabled],
.sb-btn-secondary[disabled],
.sb-btn-tertiary[disabled],
.sb-btn-info[disabled],
.sb-btn-success[disabled],
.sb-btn-warning[disabled],
.sb-btn-error[disabled] {
    background-color: $gray-100;
    border:1px solid $gray-100;
    color:$gray-200;
    cursor: not-allowed;
}
.sb-btn-outline-disabled,
.sb-btn-outline-primary[disabled],
.sb-btn-outline-secondary[disabled],
.sb-btn-outline-tertiary[disabled],
.sb-btn-outline-info[disabled],
.sb-btn-outline-success[disabled],
.sb-btn-outline-warning[disabled],
.sb-btn-outline-error[disabled],
.sb-btn-outline-gray[disabled] {
    background-color: $white-color;
    border:1px solid $gray-100;
    color:$gray-100;
    cursor: not-allowed;
    font-weight: normal;
}
