.sb-secondary-pointing-menu {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgba(34,36,38,.15);
    border-radius: 0;
    border: none;
    box-shadow: none;
    display:flex;
    .item {
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-radius: 0;
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin: 0 0 -2px;
        padding: .85714286em 1.14285714em;
        border-bottom-width: 2px;
        -webkit-transition: color .1s ease;
        transition: color .1s ease;
        box-shadow: none;
        border: none;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
            position: relative;
        vertical-align: middle;
        line-height: 1;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-box-flex: 0;
        &.active {
            background-color: transparent;
            box-shadow: none;
            border-color: #1b1c1d;
            font-weight: 700;
            color: #024F9D;
            font-weight: bold;
            font-size: 14px;
            border-bottom: 2px solid #024F9D;
        }
        &:hover {
            border-color: #024F9D;
        }
    }

}