.ui.secondary.pointing.menu .active.item {
    border-color: $sb-tabs-border-active-color;
    color: $sb-tabs-color;
  }
  
  
  .ui.tabular.menu .active.item {
    border-color: $sb-tabs-border-active-color;
  }