//Container styles
/*@include respond-between(xl,xxxl) {
  .ui.container {
      width: 1288px;
  }
}*/

@include respond-above(lg) {
  .ui.container,
  .ui.grid.container {
    width: 1216px !important;
  }
}

@include respond-above(xxl) {
  .ui.container,
  .ui.grid.container {
    width: 1524px !important;
  }
}

.ui.grid > .column:not(.row) {
  padding-top: 12px;
  padding-bottom: 12px;
}

// Grid template creation
.sb-g {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  [class*="sb-g-col-"] {
    grid-column: span 12;
  }
  [class*="sb-g-col-xl"] {
  }
  [class*="sb-g-col-lg"] {
  }
  [class*="sb-g-col-md"] {
  }
  [class*="sb-g-col-sm"] {
  }
  [class*="sb-g-col-xs"] {
  }
  @include respond-above(md) {
    [class*="sb-g-col-md"] {
      border: 1px solid green;
    }
  }
}

@for $i from 1 through 12 {
  .sb-g-col-#{$i},
  .sb-g-col-xs-#{$i},
  .sb-g-col-sm-#{$i},
  .sb-g-col-md-#{$i},
  .sb-g-col-lg-#{$i},
  .sb-g-col-xl-#{$i} {
    grid-column: span $i;
    //width: unquote((8.5 * $i - 2)+"%");
  }
}

// two column layout
.sb-two-column {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 16px;

  .sb-column {
    grid-column: col-start / span 12;
  }

  .sb-column:nth-child(2) {
    overflow: auto;
  }

  @include respond-above(md) {
    //grid-template-columns: 1fr 400px;
    grid-template-columns: repeat(12, [col-start] 1fr);

    .sb-column {
      grid-column: col-start / span 8;
    }

    .sb-column:nth-child(2) {
      grid-column: col-start 9 / span 4;
      overflow: auto;
    }
  }
}
