<div class="sb-branding">
  <div><img src="https://project-sunbird.atlassian.net/secure/projectavatar?pid=10000&avatarId=10512&size=xxlarge"
      width="100%" /></div>
  <h4 class="sb-doc-app-title">Sunbird - Design System</h4>
</div>
<ul>
  <li>
      <h4>Refence</h4> 
      <ul>
          <li><a href="docs/assets/design-system/index.html" target="_blank">Design System</a></li>
      </ul>
    </li>
  <li>
    <h4>Base</h4>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Grid & Layout</a></li>
      <li><a routerLink="/spacing" routerLinkActive="active">Spacing</a></li>
      <li><a routerLink="/typography" routerLinkActive="active">Typography</a></li>
      <li><a routerLink="/colors" routerLinkActive="active">Colors</a></li>
    </ul>
  </li>
  <li>
    <h4>Components</h4>
    <ul>
      <li><a routerLink="/buttons" routerLinkActive="active">Buttons</a></li>
      <li><a routerLink="/cards" routerLinkActive="active">Cards</a></li>
      <li><a routerLink="/forms" routerLinkActive="active">Forms</a></li>
      <li><a routerLink="/footer" routerLinkActive="active">Footer</a></li>
      <li><a routerLink="/header" routerLinkActive="active">Header</a></li>
      <li><a routerLink="/loaders" routerLinkActive="active">Loaders</a></li>
      <li><a routerLink="/menus" routerLinkActive="active">Menus</a></li>
      <li><a routerLink="/modals" routerLinkActive="active">Modals</a></li>
      <li><a routerLink="/page-section" routerLinkActive="active">Page Sections</a></li>
      <li><a routerLink="/pagination" routerLinkActive="active">Pagination</a></li>
      <li><a routerLink="/rating" routerLinkActive="active">Rating</a></li>
      <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
      <li><a routerLink="/select" routerLinkActive="active">Select</a></li>
      <li><a routerLink="/tables" routerLinkActive="active">Tables</a></li>
      <li><a routerLink="/tabs" routerLinkActive="active">Tabs</a></li>
      <li><a routerLink="/toasters" routerLinkActive="active">Toast</a></li>
      <li><a routerLink="/tooltip" routerLinkActive="active">Tooltip</a></li>
      <li><a routerLink="/treenavigation" routerLinkActive="active">Tree Navigation</a></li>
    </ul>
  </li>
  <li>
    <h4>Utilities</h4>
    <ul>
      <li><a routerLink="/sizing" routerLinkActive="active">Sizing</a></li>
      <li><a routerLink="/spacing" routerLinkActive="active">Spacing</a></li>
      <li><a routerLink="/clearfix" routerLinkActive="active">Clearfix</a></li>
      <li><a routerLink="/spacing" routerLinkActive="active">Colors</a></li>
      <li><a routerLink="/shadows" routerLinkActive="active">Shadows</a></li>
      <li><a routerLink="/spacing" routerLinkActive="active">Spacing</a></li>
    </ul>
  </li>
  <li>
    <h4>Pages/Templates</h4>
    <ul>
      <li><a routerLink="/workspace" routerLinkActive="active">Workspace</a></li>
      <li><a routerLink="/form-elements" routerLinkActive="active">Sample Forms</a></li>
    </ul>
  </li>
  <li>
    <h4>Coming Soon</h4>
    <ul>
      <li><a routerLink="/labels" routerLinkActive="active">Labels</a></li>
      <li><a routerLink="/icons" routerLinkActive="active">Icons</a></li>
      <li><a routerLink="/tooltips" routerLinkActive="active">Toolbars</a></li>
      <li><a routerLink="/menu-filters" routerLinkActive="active">Menu Filters</a></li>
      <li><a>--Pages--</a></li>
      <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
      <li><a routerLink="/library" routerLinkActive="active">Library</a></li>
      <li><a routerLink="/search-results" routerLinkActive="active">Search Results</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    </ul>
  </li>
</ul>