<div class="sb-group-welcome-page-container" *ngIf="GroupWelcomScreen">
  <div class="sb-group-welcome-container">
    <a class="close" (click)="getStarted()"><i class="icon-svg icon-svg--xxs icon-back"><svg
          class="icon icon-svg--white">
          <use xlink:href="./assets/images/libdemo/sprite.svg#close"></use>
        </svg></i></a>
    <h4 class="sb-group-welcome-container__title">Have you discovered the power of groups yet?</h4>
    <img src="./assets/images/welcome-group-img.png" class="sb-group-welcome-container__img" />
    <p class="sb-group-welcome-container__description">Bring people together with a few clicks. Create your own group,
      classroom or study circle to share, monitor and connect.</p>
    <button type="button" class="sb-btn sb-btn-sm sb-btn-primary text-uppercase w-100" (click)="getStarted()">Get
      Started <span class='arrow-icon pull-right'><i class="icon-svg icon-svg--xxs icon-back">
          <svg class="icon icon-svg--white">
            <use xlink:href="./assets/images/libdemo/sprite.svg#arrow-long-right"></use>
          </svg></i></span></button>
  </div>
</div>

<div class="ui fixed relative main menu bs-0 d-block">
  <div class="ui container sb-header-ui-container">
    <div class="ui grid padded width-100">
      <div class="six wide column p-0">
        <a class="d-flex logo" role="banner" tabindex="0" title="SUNBIRD">
          <img class="cursor-pointer" alt="SUNBIRD" src="assets/images/sunbird_logo.png"></a>
      </div>
      <div class="six wide column p-0 d-flex flex-jc-flex-end flex-ai-center">

        <div class="ui text menu m-0 d-flex flex-jc-center flex-ai-center ">

          <a class="item py-8 pl-0 pr-24" routerLink="/contribute"> Libray
          </a>
          <a class="item py-8 pl-0 pr-24" tabindex="0">
            Trainings
          </a>
          <a class="item py-8 pl-0 pr-24" tabindex="0"> My Groups
            <span class="group__type ml-8">New</span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <app-group-form></app-group-form>
</div>

<div class="sb-bg-color-white">
  <div class="ui container py-8">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn px-0">
      <i class="icon-svg icon-svg--xxs icon-back mr-4"><svg class="icon icon-svg--primary">
          <use xlink:href="./assets/images/libdemo/sprite.svg#arrow-long-left"></use>
        </svg></i> Back</button>
  </div>
</div>

<div class="content-header">
  <div class="ui container py-16">
    <div class="d-flex flex-ai-center flex-jc-space-between flex-w-wrap">
      <div class="flex-basis-1 mr-32">
        <div class="content-header__title font-weight-bold sb__ellipsis sb__ellipsis--one">
          <div>Group Name 123</div>
        </div>
        <div class="d-flex flex-ai-center content-header__info fxsmall mt-8 hide">
          <div>Social Science</div>
          <span class="dot-divider"></span>
          <div>Social Science</div>
        </div>
      </div>
      <div class="d-flex flex-ai-end flex-w-wrap content-header__buttons">
        <button class="sb-btn sb-btn-outline-error sb-left-icon-btn sb-btn-normal flex-ai-jc-center mr-8"
          (click)="showDeleteModal = !showDeleteModal">
          <i class="icon-svg icon-svg--xs icon-delete mr-4">
            <svg class="icon icon-svg--red">
              <use xlink:href="./assets/images/libdemo/sprite.svg#delete"></use>
            </svg></i> <span>Delete</span></button>
        <button type="button"
          class="sb-btn sb-btn-outline-primary sb-left-icon-btn sb-btn-normal mr-8 flex-ai-jc-center"
          (click)="showPastMemberModal = !showPastMemberModal">
          <i class="icon-svg icon-svg--xs icon-members mr-4">
            <svg class="icon icon-svg--primary">
              <use xlink:href="./assets/images/libdemo/sprite.svg#members"></use>
            </svg></i> <span>Show Past members</span></button>
        <button class="sb-btn sb-btn-primary sb-btn-normal sb-left-icon-btn flex-ai-jc-center"><i
            class="icon-svg icon-svg--xs icon-edit mr-4">
            <svg class="icon icon-svg--white">
              <use xlink:href="./assets/images/libdemo/sprite.svg#edit"></use>
            </svg></i> <span>Edit</span></button>
      </div>
    </div>
  </div>
</div>

<div class="ui container pb-24">
  <div class="ui stackable grid m-0">

    <div class="nine wide column p-0">
      <sui-tabset>
        <div class="ui pointing secondary menu">
            <a class="item" suiTabHeader="1">Members</a>
            <a class="item" suiTabHeader="2">Courses</a>
        </div>
        <div class="ui segment" suiTabContent="1">
          <div class="sb-search-box no-btn">
            <div class="input-div relative">
                <i class="search icon"></i>
                <input class="sb-search-input" type="text" placeholder="Search..." />
                <i class="close icon"></i>
                <div class="sb-loader"></div>
            </div>
            <button class="sb-btn sb-btn-normal">Search</button>
        </div>


      <div class="sb-pageSection">
        <div class="sb-pageSection-header pt-24">
          <h4 class="sb-pageSection-title m-0 mr-5">Members</h4>
          <span class="sb-pageSection-count">25</span>
        </div>
      </div>
      <div class="no-result-container d-flex flex-dc flex-jc-center p-24 sb-bg-color-white my-16">
        <div class="d-flex flex-dc flex-jc-center flex-ai-center text-center">
          <div class="no-result-container__icon">
            <img src="./assets/images/no-text.svg" width="150px" height="125px">
          </div>
          <div class="mt-8 text-center no-result-container__para">
            No member found</div>
        </div>
      </div>
      <div class="members-list">
        <div class="members-list-item">
          <div class="oval">A</div>
          <div class="member-name"><span>Abdul Malik</span></div>
          <div class="status">Admin</div>
          <div class="menu" (click)="dropdownMenu()"></div>
          <div class="dropdown-content" [hidden]="dropdownContent">
            <div class="list" (click)="showMakeAdminModal = !showMakeAdminModal">
              <img class="" alt="admin" src="./assets/images/schooling/admin-blue.svg">
              <span>Promote to admin</span>
            </div>
            <div class="list mb-8" (click)="showDismissAdminModal = !showDismissAdminModal">
              <img class="" alt="admin" src="./assets/images/schooling/admin-blue.svg">
              <span>Dismiss as admin</span>
            </div>
            <div class="list" (click)="showRemoveModal = !showRemoveModal">
              <img class="" alt="admin" src="./assets/images/schooling/remove-from-group.svg">
              <span>Remove from group</span>
            </div>
          </div>
        </div>
        <div class="members-list-item">
          <div class="oval">A</div>
          <div class="member-name"><span>Anand Kumar</span></div>
          <div class="menu"></div>
        </div>
        <div class="members-list-item">
          <div class="oval">A</div>
          <div class="member-name"><span>Arvind Gupta</span></div>
          <div class="status">Teacher</div>
          <div class="menu"></div>
        </div>
        <div class="members-list-item">
          <div class="oval">B</div>
          <div class="member-name"><span>Babar Ali</span></div>
          <div class="menu"></div>
        </div>
      </div>
        </div>
        <div class="ui segment" suiTabContent="2">
          <app-courses></app-courses>
        </div>
    </sui-tabset>
    </div>
  
    <div class="three wide column p-0">
      <div class="status-container flex-dc d-flex flex-jc-center p-24 sb-bg-color-white bs-3">
        <app-members></app-members>
      </div>
    </div>
  </div>
</div>

<!-- Remove modal -->
<sui-modal *ngIf="showRemoveModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal sb-error" appBodyScroll (dismissed)="showRemoveModal = !showRemoveModal" #modal>
  <div class="sb-modal-header">
    Remove member ?
  </div>
  <div class="sb-modal-content">
    Do you want to remove
    <span class="font-weight-bold">Arvind Gupta</span>
    from this group?
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-outline-error" (click)="showRemoveModal = !showRemoveModal">
      Remove
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-error " (click)="showRemoveModal = !showRemoveModal">
      No
    </button>
  </div>
</sui-modal>

<!-- Admin Dismiss Modal -->
<sui-modal *ngIf="showDismissAdminModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'small'" class="sb-modal " appBodyScroll (dismissed)="showDismissAdminModal = !showDismissAdminModal" #modal>
  <div class="sb-modal-header">
    Dismiss as admin ?
  </div>
  <div class="sb-modal-content">
    Do you want to dismiss
    <span class="font-weight-bold">Abdul Malik</span>
    as admin?
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="showDismissAdminModal = !showDismissAdminModal">
      Yes
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary "
      (click)="showDismissAdminModal = !showDismissAdminModal">
      No </button>
  </div>
</sui-modal>

<!-- make admin modal -->
<sui-modal *ngIf="showMakeAdminModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal " appBodyScroll (dismissed)="showMakeAdminModal = !showMakeAdminModal" #modal>
  <div class="sb-modal-header">
    Make admin ?
  </div>
  <div class="sb-modal-content">
    Do you want to make
    <span class="font-weight-bold">Rajesh Kumar Sharma</span>
    as admin?
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="showMakeAdminModal = !showMakeAdminModal">
      Yes
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary " (click)="showMakeAdminModal = !showMakeAdminModal">
      No
    </button>
  </div>
</sui-modal>

<!-- Delete Group modal -->
<sui-modal *ngIf="showDeleteModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal sb-error" appBodyScroll (dismissed)="showDeleteModal = !showDeleteModal" #modal>
  <div class="sb-modal-header">
    Delete Group ?
  </div>
  <div class="sb-modal-content">
    Are you sure you want to delete "group name" ?
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-outline-error" (click)="showDeleteModal = !showDeleteModal">
      Delete
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-error" (click)="showDeleteModal = !showDeleteModal">
      No
    </button>
  </div>
</sui-modal>

<!-- show past members modal -->
<sui-modal *ngIf="showPastMemberModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal " appBodyScroll (dismissed)="showPastMemberModal = !showPastMemberModal" #modal>

  <div class="sb-modal-content">
    <div class="font-weight-bold my-16">Past Members List</div>
    <div class="members-list my-24">
      <div class="members-list-item">
        <div class="oval">A</div>
        <div class="member-name"><span>Abdul Malik</span></div>
        <div class="status">Admin</div>
      </div>
      <div class="members-list-item">
        <div class="oval">A</div>
        <div class="member-name"><span>Anand Kumar</span></div>
        <div class="menu"></div>
      </div>
      <div class="members-list-item">
        <div class="oval">A</div>
        <div class="member-name"><span>Arvind Gupta</span></div>
        <div class="status">Teacher</div>
        <div class="menu"></div>
      </div>
      <div class="members-list-item">
        <div class="oval">B</div>
        <div class="member-name"><span>Babar Ali</span></div>
        <div class="menu"></div>
      </div>
    </div>
  </div>

</sui-modal>
