@import "variables";
@import "mixins/mixins";


  .group__type {
    margin-left: calculateRem(24px);
    background: #FF6979;
    position: relative;
    height: calculateRem(20px);
    padding: 0 calculateRem(8px) 0px calculateRem(4px);
    color: var(--white);
    margin-right: calculateRem(-8px);
    html[dir="rtl"] & {
      margin-right: calculateRem(24px);
      margin-left: calculateRem(-8px);
      padding: 0 calculateRem(4px) 0px calculateRem(8px);
    }
    font-size: calculateRem(11px);
    display: flex;
    align-items: center;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-width: calculateRem(10px) calculateRem(5px);
      border-style: solid;
      border-color: var(--gray-200) var(--gray-200) var(--gray-200)
        transparent;
      position: absolute;
      left: calculateRem(-10px);
      html[dir="rtl"] & {
        right: calculateRem(-10px);
        left: inherit;
        border-color: var(--gray-200) transparent var(--gray-200)
          var(--gray-200);
      }
    }
  }

  .ui.menu.fixed{
    box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.2) !important;
  }
  .ui.menu.text .item.active {
    font-weight: bold;
    color: var(--primary-color);
}



.content-header {
  background:#FAFAFA;
  min-height: calculateRem(14px);

    &__content{
        display:flex;
        align-items: center;
        justify-content: space-between;
        @include respond-below(sm) {
          display: block;
        }
    }

    &__title {
        color: var(--primary-400);
        font-size: calculateRem(16px);
    }
    
    &__info {
        color: var(--gray-800);
        font-size: calculateRem(14px);
    }
    

    .dot-divider {
        width: ($base-block-space / 2);
        height: ($base-block-space / 2);
        border-radius: 100%;
        background-color: var(--gray-800);
        display: inline-block;
        margin: 0px $base-block-space;
    }
  
  @include respond-below(sm) {
    &__buttons {
      margin-top: calculateRem(8px);
    }
  }
}