

<!--Page Content-->
<div class="docs-sections" *ngFor="let section of sections;">

  <h4 class="docs-sectionHeading" *ngIf='ShowContent'>
    {{section.title}}
    <i class="fa fa-code text-gray docs-expandCode" (click)="section.expandCode = !section.expandCode" title="Toggle Code" tabindex="0"></i>
  </h4> 

  <!--Display output-->
  <div class="docs-sectionDemoCode">
    <div class="ui container">
        <div class="sb-pageSection">
            <!--Header-->
            <div class="sb-pageSection-header">
                <!--Section Title-->
                <h4 class="sb-pageSection-title m-0">My Courses</h4>
                <!--/Section Title-->
                <!--Count-->
                <span class="sb-pageSection-count sb-label sb-label-xs sb-label-warning ml-8">25</span>
                <!--/Count-->
                <!--View all button-->
                <button class="sb-btn sb-btn-xs sb-btn-secondary ml-auto">View all</button>
                <!--/View all button-->
            </div>
            <!--/Header-->
  
            <!--Content-->
            <div class="sb-pageSection-content">
                <ngx-slick class="carousel" [config]="slideConfig">
                    <div ngxSlickItem class="mr-16">
                      <div class="sb-card d-inline-block" tabindex="0">
                        <div class="sb-card-body">
                          <div class="sb-card-metas">
                            <div class="sb-card-image mr-16">
                              <img src="assets/images/book.png">
                            </div>
                            <div class="sb-card-meta non-course">
                              <div class="d-flex mb-auto">
                                <div class="sb-card-label">Worksheet</div>
                                <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                              </div>
                              <div class="sb-card-meta-item ellipsis">
                                Subject : English
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Class : Class 1,Class 2,Class 3,Class 4,Class 5
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Medium : Other
                              </div>
                            </div>
                          </div>
                          <h4 class="sb-card-title">
                            Data Structure and Algorithm - Assignment 1 Paperback
                          </h4>
                          <div class="sb-card-org ellipsis">
                            Academy of European Law (ERA)
                          </div>
                        </div>
                        <div class="sb-card-progressbar">
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="mr-16">
                        <div class="sb-card d-inline-block mr-16" tabindex="0" dir="rtl" lang="ur">
                          <div class="sb-card-body">
                            <div class="sb-card-metas">
                              <div class="sb-card-image mr-16">
                                <img src="assets/images/book.png">
                              </div>
                              <div class="sb-card-meta non-course">
                                <div class="d-flex mb-auto">
                                  <div class="sb-card-label">
                                  ورکشاپ</div>
                                  <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                                </div>
                                <div class="sb-card-meta-item ellipsis">
                                    مضمون: انگریزی
                                </div>
                                <div class="sb-card-meta-item ellipsis mt-4">
                                    کلاس: کلاس 1، کلاس 2، کلاس 3، کلاس 4، کلاس5
                                </div>
                                <div class="sb-card-meta-item ellipsis mt-4">
                                    درمیانہ: دیگر
                                </div>
                              </div>
                            </div>
                            <h4 class="sb-card-title">
                                ڈیٹا ڈھانچہ اور الگورتھم - اہداف 1 کتابچہ
                            </h4>
                            <div class="sb-card-org ellipsis">
                                یورپی قانون اکیڈمی (ایرا اے)
                            </div>
                          </div>
                          <div class="sb-card-progressbar">
                          </div>
                        </div>
                      </div>
                    <div ngxSlickItem class="mr-16">
                      <div class="sb-card d-inline-block" tabindex="0">
                        <div class="sb-card-body">
                          <div class="sb-card-metas">
                            <div class="sb-card-image mr-16">
                              <img src="assets/images/book.png">
                            </div>
                            <div class="sb-card-meta non-course">
                              <div class="d-flex mb-auto">
                                <div class="sb-card-label">Worksheet</div>
                                <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                              </div>
                              <div class="sb-card-meta-item ellipsis">
                                Subject : English
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Class : Class 1,Class 2,Class 3,Class 4,Class 5
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Medium : Other
                              </div>
                            </div>
                          </div>
                          <h4 class="sb-card-title">
                            Data Structure and Algorithm - Assignment 1 Paperback
                          </h4>
                          <div class="sb-card-org ellipsis">
                            Academy of European Law (ERA)
                          </div>
                        </div>
                        <div class="sb-card-progressbar">
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="mr-16">
                      <div class="sb-card d-inline-block" tabindex="0">
                        <div class="sb-card-body">
                          <div class="sb-card-metas">
                            <div class="sb-card-image mr-16">
                              <img src="assets/images/book.png">
                            </div>
                            <div class="sb-card-meta non-course">
                              <div class="d-flex mb-auto">
                                <div class="sb-card-label">Worksheet</div>
                                <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                              </div>
                              <div class="sb-card-meta-item ellipsis">
                                Subject : English
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Class : Class 1,Class 2,Class 3,Class 4,Class 5
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Medium : Other
                              </div>
                            </div>
                          </div>
                          <h4 class="sb-card-title">
                            Data Structure and Algorithm - Assignment 1 Paperback
                          </h4>
                          <div class="sb-card-org ellipsis">
                            Academy of European Law (ERA)
                          </div>
                        </div>
                        <div class="sb-card-progressbar">
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="mr-16">
                      <div class="sb-card d-inline-block" tabindex="0">
                        <div class="sb-card-body">
                          <div class="sb-card-metas">
                            <div class="sb-card-image mr-16">
                              <img src="assets/images/book.png">
                            </div>
                            <div class="sb-card-meta non-course">
                              <div class="d-flex mb-auto">
                                <div class="sb-card-label">Worksheet</div>
                                <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                              </div>
                              <div class="sb-card-meta-item ellipsis">
                                Subject : English
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Class : Class 1,Class 2,Class 3,Class 4,Class 5
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Medium : Other
                              </div>
                            </div>
                          </div>
                          <h4 class="sb-card-title">
                            Data Structure and Algorithm - Assignment 1 Paperback
                          </h4>
                          <div class="sb-card-org ellipsis">
                            Academy of European Law (ERA)
                          </div>
                        </div>
                        <div class="sb-card-progressbar">
                        </div>
                      </div>
                    </div>
  
                    <div ngxSlickItem class="mr-16">
                      <div class="sb-card d-inline-block" tabindex="0">
                        <div class="sb-card-body">
                          <div class="sb-card-metas">
                            <div class="sb-card-image mr-16">
                              <img src="assets/images/book.png">
                            </div>
                            <div class="sb-card-meta non-course">
                              <div class="d-flex mb-auto">
                                <div class="sb-card-label">Worksheet</div>
                                <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                              </div>
                              <div class="sb-card-meta-item ellipsis">
                                Subject : English
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Class : Class 1,Class 2,Class 3,Class 4,Class 5
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Medium : Other
                              </div>
                            </div>
                          </div>
                          <h4 class="sb-card-title">
                            Data Structure and Algorithm - Assignment 1 Paperback
                          </h4>
                          <div class="sb-card-org ellipsis">
                            Academy of European Law (ERA)
                          </div>
                        </div>
                        <div class="sb-card-progressbar">
                        </div>
                      </div>
                    </div>
                </ngx-slick>
            </div>
            <!--/Content-->
        </div>
        <div class="sb-pageSection mt-24">
            <!--Header-->
            <div class="sb-pageSection-header">
                <!--Section Title-->
                <h4 class="sb-pageSection-title m-0 mr-5">
                  Search / View All List
                </h4>
                <!--/Section Title-->
                <!--Count-->
                <span class="sb-pageSection-count sb-label sb-label-xs sb-label-warning ml-8">25</span>
                <!--/Count-->
                <!--View all button-->
                <button class="sb-btn sb-btn-xs sb-btn-error ml-auto">Close <i class="close icon"></i></button>
                <!--/View all button-->
            </div>
            <!--/Header-->
  
            <!--Content-->
            <div class="sb-pageSection-content">
                <ngx-slick class="carousel" [config]="slideConfig">
                  <div ngxSlickItem class="mr-16">
                    <div class="sb-card d-inline-block mr-16" tabindex="0">
                      <div class="sb-card-body">
                        <div class="sb-card-metas">
                          <div class="sb-card-image mr-16">
                            <img src="assets/images/book.png">
                          </div>
                          <div class="sb-card-meta non-course">
                            <div class="d-flex mb-auto">
                              <div class="sb-card-label">Worksheet</div>
                              <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                            </div>
                            <div class="sb-card-meta-item ellipsis">
                              Subject : English
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                              Class : Class 1,Class 2,Class 3,Class 4,Class 5
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                              Medium : Other
                            </div>
                          </div>
                        </div>
                        <h4 class="sb-card-title">
                          Data Structure and Algorithm - Assignment 1 Paperback
                        </h4>
                        <div class="sb-card-org ellipsis">
                          Academy of European Law (ERA)
                        </div>
                      </div>
                      <div class="sb-card-progressbar">
                      </div>
                    </div>
                  </div>
                  <div ngxSlickItem class="mr-16">
                    <div class="sb-card d-inline-block mr-16" tabindex="0">
                      <div class="sb-card-body">
                        <div class="sb-card-metas">
                          <div class="sb-card-image mr-16">
                            <img src="assets/images/book.png">
                          </div>
                          <div class="sb-card-meta non-course">
                            <div class="d-flex mb-auto">
                              <div class="sb-card-label">Book</div>
                            </div>
                          </div>
                        </div>
                        <h4 class="sb-card-title">
                          Data Structure
                        </h4>
                        <div class="sb-card-org ellipsis">
                          Academy of European Law (ERA)
                        </div>
                      </div>
                      <div class="sb-card-progressbar">
                      </div>
                    </div>
                  </div>
                  <div ngxSlickItem class="mr-16">
                    <div class="sb-card d-inline-block mr-16" tabindex="0" dir="rtl" lang="ur">
                      <div class="sb-card-body">
                        <div class="sb-card-metas">
                          <div class="sb-card-image mr-16">
                            <img src="assets/images/book.png">
                          </div>
                          <div class="sb-card-meta non-course">
                            <div class="d-flex mb-auto">
                              <div class="sb-card-label">ورکشاپ</div>
                              <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                            </div>
                            <div class="sb-card-meta-item ellipsis">
                            مضمون: انگریزی
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                            کلاس: کلاس 1، کلاس 2، کلاس 3، کلاس 4، کلاس 5
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                            درمیانہ: دیگر
                            </div>
                          </div>
                        </div>
                        <h4 class="sb-card-title">
                        ڈیٹا ڈھانچہ اور الگورتھم - اہداف 1 کتابچہ
                        </h4>
                        <div class="sb-card-org ellipsis">
                        یورپی قانون اکیڈمی (ایرا اے)
                        </div>
                      </div>
                      <div class="sb-card-progressbar">
                      </div>
                    </div>
                  </div>
                  <div ngxSlickItem class="mr-16">
                      <div class="sb-card d-inline-block mr-16" tabindex="0">
                        <div class="sb-card-body">
                          <div class="sb-card-metas">
                            <div class="sb-card-image mr-16">
                              <img src="assets/images/book.png">
                            </div>
                            <div class="sb-card-meta non-course">
                              <div class="d-flex mb-auto">
                                <div class="sb-card-label">Worksheet</div>
                                <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                              </div>
                              <div class="sb-card-meta-item ellipsis">
                                Subject : English
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Class : Class 1,Class 2,Class 3,Class 4,Class 5
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                                Medium : Other
                              </div>
                            </div>
                          </div>
                          <h4 class="sb-card-title">
                            Data Structure and Algorithm - Assignment 1 Paperback
                          </h4>
                          <div class="sb-card-org ellipsis">
                            Academy of European Law (ERA)
                          </div>
                        </div>
                        <div class="sb-card-progressbar">
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="mr-16">
                      <div class="sb-card d-inline-block mr-16" tabindex="0">
                        <div class="sb-card-body">
                          <div class="sb-card-metas">
                            <div class="sb-card-image mr-16">
                              <img src="assets/images/book.png">
                            </div>
                            <div class="sb-card-meta non-course">
                              <div class="d-flex mb-auto">
                                <div class="sb-card-label">Book</div>
                              </div>
                            </div>
                          </div>
                          <h4 class="sb-card-title">
                            Data Structure
                          </h4>
                          <div class="sb-card-org ellipsis">
                            Academy of European Law (ERA)
                          </div>
                        </div>
                        <div class="sb-card-progressbar">
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="mr-16">
                      <div class="sb-card d-inline-block mr-16" tabindex="0" dir="rtl" lang="ur">
                        <div class="sb-card-body">
                          <div class="sb-card-metas">
                            <div class="sb-card-image mr-16">
                              <img src="assets/images/book.png">
                            </div>
                            <div class="sb-card-meta non-course">
                              <div class="d-flex mb-auto">
                                <div class="sb-card-label">ورکشاپ</div>
                                <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                              </div>
                              <div class="sb-card-meta-item ellipsis">
                              مضمون: انگریزی
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                              کلاس: کلاس 1، کلاس 2، کلاس 3، کلاس 4، کلاس 5
                              </div>
                              <div class="sb-card-meta-item ellipsis mt-4">
                              درمیانہ: دیگر
                              </div>
                            </div>
                          </div>
                          <h4 class="sb-card-title">
                          ڈیٹا ڈھانچہ اور الگورتھم - اہداف 1 کتابچہ
                          </h4>
                          <div class="sb-card-org ellipsis">
                          یورپی قانون اکیڈمی (ایرا اے)
                          </div>
                        </div>
                        <div class="sb-card-progressbar">
                        </div>
                      </div>
                    </div>
                  <div ngxSlickItem class="mr-16">
                    <div class="sb-card d-inline-block mr-16" tabindex="0">
                      <div class="sb-card-body">
                        <div class="sb-card-metas">
                          <div class="sb-card-image mr-16">
                            <img src="assets/images/book.png">
                          </div>
                          <div class="sb-card-meta non-course">
                            <div class="d-flex mb-auto">
                              <div class="sb-card-label">Worksheet</div>
                              <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                            </div>
                            <div class="sb-card-meta-item ellipsis">
                              Subject : English
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                              Class : Class 1,Class 2,Class 3,Class 4,Class 5
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                              Medium : Other
                            </div>
                          </div>
                        </div>
                        <h4 class="sb-card-title">
                          Data Structure and Algorithm - Assignment 1 Paperback
                        </h4>
                        <div class="sb-card-org ellipsis">
                          Academy of European Law (ERA)
                        </div>
                      </div>
                      <div class="sb-card-progressbar">
                      </div>
                    </div>
                  </div>
                  <div ngxSlickItem class="mr-16">
                    <div class="sb-card d-inline-block mr-16" tabindex="0">
                      <div class="sb-card-body">
                        <div class="sb-card-metas">
                          <div class="sb-card-image mr-16">
                            <img src="assets/images/book.png">
                          </div>
                          <div class="sb-card-meta non-course">
                            <div class="d-flex mb-auto">
                              <div class="sb-card-label">Book</div>
                            </div>
                          </div>
                        </div>
                        <h4 class="sb-card-title">
                          Data Structure
                        </h4>
                        <div class="sb-card-org ellipsis">
                          Academy of European Law (ERA)
                        </div>
                      </div>
                      <div class="sb-card-progressbar">
                      </div>
                    </div>
                  </div>
                  <div ngxSlickItem class="mr-16">
                    <div class="sb-card d-inline-block mr-16" tabindex="0" dir="rtl" lang="ur">
                      <div class="sb-card-body">
                        <div class="sb-card-metas">
                          <div class="sb-card-image mr-16">
                            <img src="assets/images/book.png">
                          </div>
                          <div class="sb-card-meta non-course">
                            <div class="d-flex mb-auto">
                              <div class="sb-card-label">ورکشاپ</div>
                              <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                            </div>
                            <div class="sb-card-meta-item ellipsis">
                            مضمون: انگریزی
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                            کلاس: کلاس 1، کلاس 2، کلاس 3، کلاس 4، کلاس 5
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                            درمیانہ: دیگر
                            </div>
                          </div>
                        </div>
                        <h4 class="sb-card-title">
                        ڈیٹا ڈھانچہ اور الگورتھم - اہداف 1 کتابچہ
                        </h4>
                        <div class="sb-card-org ellipsis">
                        یورپی قانون اکیڈمی (ایرا اے)
                        </div>
                      </div>
                      <div class="sb-card-progressbar">
                      </div>
                    </div>
                  </div>
                  <div ngxSlickItem class="mr-16">
                    <div class="sb-card d-inline-block mr-16" tabindex="0">
                      <div class="sb-card-body">
                        <div class="sb-card-metas">
                          <div class="sb-card-image mr-16">
                            <img src="assets/images/book.png">
                          </div>
                          <div class="sb-card-meta non-course">
                            <div class="d-flex mb-auto">
                              <div class="sb-card-label">Worksheet</div>
                              <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                            </div>
                            <div class="sb-card-meta-item ellipsis">
                              Subject : English
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                              Class : Class 1,Class 2,Class 3,Class 4,Class 5
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                              Medium : Other
                            </div>
                          </div>
                        </div>
                        <h4 class="sb-card-title">
                          Data Structure and Algorithm - Assignment 1 Paperback
                        </h4>
                        <div class="sb-card-org ellipsis">
                          Academy of European Law (ERA)
                        </div>
                      </div>
                      <div class="sb-card-progressbar">
                      </div>
                    </div>
                  </div>
                  <div ngxSlickItem class="mr-16">
                    <div class="sb-card d-inline-block mr-16" tabindex="0">
                      <div class="sb-card-body">
                        <div class="sb-card-metas">
                          <div class="sb-card-image mr-16">
                            <img src="assets/images/book.png">
                          </div>
                          <div class="sb-card-meta non-course">
                            <div class="d-flex mb-auto">
                              <div class="sb-card-label">Book</div>
                            </div>
                          </div>
                        </div>
                        <h4 class="sb-card-title">
                          Data Structure
                        </h4>
                        <div class="sb-card-org ellipsis">
                          Academy of European Law (ERA)
                        </div>
                      </div>
                      <div class="sb-card-progressbar">
                      </div>
                    </div>
                  </div>
                  <div ngxSlickItem class="mr-16">
                    <div class="sb-card d-inline-block mr-16" tabindex="0" dir="rtl" lang="ur">
                      <div class="sb-card-body">
                        <div class="sb-card-metas">
                          <div class="sb-card-image mr-16">
                            <img src="assets/images/book.png">
                          </div>
                          <div class="sb-card-meta non-course">
                            <div class="d-flex mb-auto">
                              <div class="sb-card-label">ورکشاپ</div>
                              <img src="assets/images/badge1.png" class="sb-card-badge ml-auto">
                            </div>
                            <div class="sb-card-meta-item ellipsis">
                            مضمون: انگریزی
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                            کلاس: کلاس 1، کلاس 2، کلاس 3، کلاس 4، کلاس 5
                            </div>
                            <div class="sb-card-meta-item ellipsis mt-4">
                            درمیانہ: دیگر
                            </div>
                          </div>
                        </div>
                        <h4 class="sb-card-title">
                        ڈیٹا ڈھانچہ اور الگورتھم - اہداف 1 کتابچہ
                        </h4>
                        <div class="sb-card-org ellipsis">
                        یورپی قانون اکیڈمی (ایرا اے)
                        </div>
                      </div>
                      <div class="sb-card-progressbar">
                      </div>
                    </div>
                  </div>
                </ngx-slick>
            </div>
            <!--/Content-->
        </div>
    </div>
    
  </div>
  <!--/Display output-->

  <!--Display code-->
  <div class="docs-sectionCopyCode" *ngIf="section.expandCode">

    <!--Copy code button-->
    <button ngxClipboard [cbContent]="section.copyCode" class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy"></button>
    <!--/Copy code button-->

    <!--Copy code display-->
    <pre>
      <code [highlight]="section.copyCode"></code>
    </pre>
    <!--/Copy code display-->

  </div>
  <!--/Display code-->
  
</div>
<!--Page Content-->