.loading {
  animation: placeloader 1s linear infinite forwards;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1200px 104px;
  position: relative;
}

@keyframes placeloader {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
