
<h2 class="help-section-title pb-16">Look through the list to resolve your issue</h2>
<sui-accordion [closeOthers]="true"  class="styled fluid sb-accordion">
  <sui-accordion-panel [isOpen]="true">
    <div title class="sb-accordion-title">
      Why am I unable to sign up?
      <i class="chevron down icon right-floated d-flex flex-ai-center"></i>
    </div>
    <div content class="sb-accordion-content">
      <p class="sb-accordion-text">The Sign In feature allows authorized users to access content using the app. Using
        this feature, it is possible to differentiate content for different user types. For example, anonymous or guest
        users can view only a limited number of courses and resources, while registered users have access to all content
        available in the Library.</p>
    </div>
    <div content class="sb-accordion-footer d-flex flex-ai-center flex-jc-center flex-dc">
      <div class="m-0">Did this answer help you?</div>
      <div class="mt-8">
        <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary mr-8">No</button>
        <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-secondary">Yes</button>
      </div>
      <div class="sb-label sb-label-table sb-label-success-0 mt-8">Thanks for your response!</div>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title class="sb-accordion-title">
      Why can’t I find my class?
      <i class="chevron down icon right-floated d-flex flex-ai-center"></i>
    </div>
    <div content class="sb-accordion-content">
      <p class="sb-accordion-text">The Sign In feature allows authorized users to access content using the app. Using
        this feature, it is possible to differentiate content for different user types. For example, anonymous or guest
        users can view only a limited number of courses and resources, while registered users have access to all content
        available in the Library.</p>
    </div>
    <div content class="sb-accordion-footer">
      <div class="sb-help-section-subheading">Sorry about that</div>
      <div class="sb-help-section-extra mt-8">What more would you like to know?</div>
      <div class="sb-field-group mt-16">
        <div class="sb-field">
          <textarea rows="4" class="sb-form-control" placeholder="Type here"></textarea>
        </div>
      </div>
      <button type="button" class="sb-btn sb-btn-primary sb-btn-normal d-flex ml-auto">Submit</button>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title class="sb-accordion-title">
      Why can’t I find my class?
      <i class="chevron down icon right-floated d-flex flex-ai-center"></i>
    </div>
    <div content class="sb-accordion-content">
      <p class="sb-accordion-text">Add classes to the <code>sui-accordion</code> element to apply styles.</p>
    </div>
    <div content class="sb-accordion-footer">
      <p>Add classes to the <code>sui-accordion</code> element to apply styles.</p>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title class="sb-accordion-title">
      Some content is downloaded but not playing offline? Why?
      <i class="chevron down icon right-floated d-flex flex-ai-center"></i>
    </div>
    <div content class="sb-accordion-content">
      <p class="sb-accordion-text">Add classes to the <code>sui-accordion</code> element to apply styles.</p>
    </div>
    <div content class="sb-accordion-footer">
      <p>Add classes to the <code>sui-accordion</code> element to apply styles.</p>
    </div>
  </sui-accordion-panel>
</sui-accordion>
<button type="button" class="sb-btn sb-btn-normal sb-btn-primary sb-left-icon-btn width-100 mt-16">
  <i class="edit outline icon"></i>Report other issue</button>




<div class="sb-help-section-heading mt-16">Tell us a more about the problem you faced</div>
<div class="sb-field-group mt-16">
  <div class="sb-field">
    <textarea rows="10" class="sb-form-control" placeholder="Type here"></textarea>
  </div>
</div>
<div class="d-flex flex-jc-space-between mt-16">
  <p class="sb-info-text flex-basis-1">After you add details in the text box and tap the Initiate email button, we will trigger an
    email on your behalf. You can add further details and/or attach files there.</p>
  <button type="button" class="sb-btn sb-btn-primary sb-btn-normal d-flex ml-auto">Initiate email</button>
</div>