.about-app-heading {
    color: #024F9D;
    font-size: 18px;
    font-weight: bold;
  }
  .about-app-update-text {
    text-align: right;
    font-size: 14px;
    color: #024F9D;
  }

  .about-app-left-content {
    text-align: end;
    align-self: flex-end;
  }

  .offline-telemetry-title {
    color: #024F9D;
    font-size: 14px;
  }
  .offline-telemetry-clear-title {
    color: #E55A28;
    font-size: 14px;
  }

  .offline-telemetry-page-title {
    font-size: 14px;
    font-weight: bold;
    color:#fff;
    background: #024F9D;
    padding: 16px;
  }