<div class="twelve wide column certificate-container px-0 py-16">
  <div class="ui container stackable grid m-0">
    <div class="three wide column">
      <div class="certificate-sidebar pl-24">
        <div class="py-24 font-weight-bold certificates-label">Certificates Templates</div>
        <div class="d-flex flex-dc sidebar-menu">
          <a href="#cbse">CBSE</a>
          <a href="#gj" class="active">Gujarat</a>
          <a href="#jh">Jharkhand</a>
        </div>
      </div>
    </div>
    <div class="nine wide column">
      <div class="certificate-edit-content">
        <div class="content">
          <!-- <div class="fnormal pb-16 font-weight-bold">Certificate</div> -->
          <div class="certificate-edit-area">
            <div class="certificate-edit-sbcard active">
              <div class="fnormal font-weight-bold pb-16">SVG Template</div>
              <div class="d-flex flex-ai-center flex-dc certificate-edit-sbcard-content">
                <div class="certificate-image">
                  <img src="assets/images/gj.svg"></div>
                <div class="d-flex flex-jc-flex-end w-100 flex-ai-center pt-16">
                  <button type="button" class="sb-btn sb-btn-outline-primary sb-btn-normal mr-16">View</button>
                  <button type="button" class="sb-btn sb-btn-primary sb-btn-normal">Download</button>
                </div>
              </div>
            </div>

            <div class="certificate-edit-sbcard">
              <div class="fnormal pb-16 font-weight-bold">HTML Template</div>
              <div class="certificate-edit-sbcard-content">
                <div class="certificate-image">
                  <img src="assets/images/gj.svg">
                </div>
                <!-- <a href="default.asp" target="_blank" class="template-link">This is a template link</a> -->
                <div class="d-flex flex-jc-flex-end w-100 flex-ai-center pt-16">
                  <button type="button" class="sb-btn sb-btn-outline-primary sb-btn-normal mr-16">View</button>
                  <button type="button" class="sb-btn sb-btn-primary sb-btn-normal">Download</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
