@import "variables";
@import "mixins/mixins";

.no-content-container{
    width: 100%;
    height: 100%;
}


  .sb-modal{
    .disable-color{
      color: var(--gray-400);
      opacity: 0.5;
    }
 
    .sb-label-status:before {
      transform: none !important;
      border-radius: 10px !important;
      *[dir="rtl"] &{
        margin-right: 8px !important;
      }
    }
  }


 






  