<!-- for mobile -->
<div class="d-flex flex-ai-center flex-jc-space-between p-16 mob-banner-container">
  <div class="d-flex">
    <div>
      <img src="../../assets/images/Info.svg" width="20px">
    </div>
    <p class="ml-8">We're currently down for maintenance,but don't worry we'll up in x hours.Come back soon!.</p>
  </div>
  <div class="ml-8">
    <img src="../../assets/images/feedback-close.svg" width="20px">
  </div>
</div>


<!-- for desktop -->
<div class="d-flex desk-banner-container p-16">
  <div class="d-flex flex-ai-center flex-jc-center flex-dc my-0 mx-auto">
    <div>
      <img src="../../assets/images/Diksha-logo.png" width="75px">
    </div>
    <div class="my-16"><img src="../../assets/images/banner-img.png" width="600px"></div>
    <p class="mb-8 text-center">We're currently down for maintenance,but don't worry we'll up in x hours</p>
    <div class="banner-timing">00:50:25</div>
    <div class="my-8 banner-text">Come back soon!.</div>
  </div>
</div>
