<div class="online-container d-flex flex-jc-center p-32 sb-bg-color-white">
    <div class="d-flex flex-dc flex-jc-center flex-ai-center">
      <div class="online-container__icon">
        <img src="../../assets/images/offline-icon.svg" width="37px" height= "37px">
      </div>
      <div class="mt-8 fs-1 online-container__title">Your are Online</div>
      <div class="fs-0-92 mt-16">Download books to access while offline</div>
      <button type="button" class="sb-btn sb-btn-outline-secondary sb-btn-normal mt-16 mb-16">
       Browse Online
     </button>   
    </div>
  </div>
