

<div class="course-content">
  <div class="sb-pageSection">
    <div class="sb-pageSection-header pt-24">
        <h4 class="sb-pageSection-title m-0 mr-5">
          Courses
        </h4>
        <span class="sb-pageSection-count sb-label sb-label-xs sb-label-error">25</span>
        </div>
      </div>
  <div class="twelve wide column">
           <div class="sbgrid sbgrid--grid-carousel">
          <div class="sbcard sbcard--resource sbcard--course" *ngFor="let sbcard of sbcards">
            <div class="sbcard__main_area">
              <div class="sbcard__img"><img src="../../../assets/images/noun_School.svg" alt="" title="" /></div>
              <div class="sbcard__info">
                <h4 class="sbcard__title sb__ellipsis sb__ellipsis--two">{{sbcard.title}}</h4>
                <div class="sbcard__meta1"><span>{{sbcard.subject}}</span><span
                    class="dot-divider"></span><span>{{sbcard.class}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>





<div class="text-center">
<button class="sb-btn sb-btn-normal sb-btn-outline-primary sb-right-icon-btn my-24" type="button">
  View more </button></div>
