<div class="sb-certificate">
  <div class="sb-certificate-header">
    <img src="assets/images/logos.png" alt="Logo"/>
  </div>
  <div class="sb-certificate-desc">
    <img src="assets/images/certificate.png" alt="Logo"/>
  </div>
  <form class="sb-certificate-form">
    <label class="sb-certificate-label" for="certificate">Enter the Certificate Code here</label>
    <div class="sb-certificate-input" id="certificate">
      <input type="text" name="certificate1" class="sb-certificate-input-digit"/>
      <input type="text" name="certificate2" class="sb-certificate-input-digit"/>
      <input type="text" name="certificate3" class="sb-certificate-input-digit"/>
      <input type="text" name="certificate4" class="sb-certificate-input-digit"/>
      <input type="text" name="certificate5" class="sb-certificate-input-digit"/>
      <input type="text" name="certificate6" class="sb-certificate-input-digit"/>
    </div>
    <button class="sb-certificate-button">
      Verify
    </button>
  </form>
</div>