<div class="sb-certificate">
  <div class="sb-certificate-header">
    <img src="../../assets/images/DIKSHA.svg" class="logo" alt="Logo"/>
  </div>
  <div class="sb-certificate-desc">
    <img src="../../assets/images/certificate.png" alt="Logo"/>
  </div>
  <form class="sb-certificate-form">
    <label class="sb-certificate-label" for="certificate">Enter the Certificate Code here</label>
    <div class="sb-certificate-input" id="certificate">
      <input type="text" maxlength="1" name="certificate1"  class="sb-certificate-input-digit"/>
      <input type="text"  maxlength="1" name="certificate2" class="sb-certificate-input-digit"/>
      <input type="text"  maxlength="1" name="certificate3" class="sb-certificate-input-digit"/>
      <input type="text" maxlength="1" name="certificate4" class="sb-certificate-input-digit"/>
      <input type="text" maxlength="1" name="certificate5" class="sb-certificate-input-digit"/>
      <input type="text" maxlength="1" name="certificate6" class="sb-certificate-input-digit"/>
    </div>
    <button class="sb-certificate-button">
      Verify
    </button>
  </form>
</div>


<br><br>

<div class="sb-certificate">
    <div class="sb-certificate-header">
      <img src="../../assets/images/DIKSHA.svg" class="logo" alt="Logo"/>
    </div>
    <div class="sb-certificate-holder-details">
      <img src="../../assets/images/badge.svg" class="sb-icon-badge mt-24 mb-8" alt="Logo"/>
      <h6>Certificate issued to</h6>
      <h4>Namename Name N</h4>
      <p class="sb-certificate-label my-24" for="certificate">For successfully completing the course, <strong>“Active Listening for Master Coaches”</strong> on DIKSHA on 09 Aug 2019</p>
      <button type="button" class="sb-btn sb-btn-normal sb-btn-secondary"><i class="play circle icon"></i> Watch Video</button>
    </div>
  </div>