.sb-certificate {
.sb-certificate-header{
  .logo {
    width:100px;
  }
}
  max-width: 328px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  .sb-certificate-logo {
    height :56px;
  }
  .sb-certificate-desc {
    background-color: #E5EDF5;
    padding: 24px;
    margin: 24px 0;
    img {
      max-width:  197px;
      margin: 0 auto;
    }
  }
  .sb-certificate-label {
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #333333;
    margin: 0;
  }
  .sb-certificate-field {
    display: flex;
    justify-content: space-between;
    width: 215px;
    margin: 0 auto 38px auto;

    .sb-certificate-input {
      height: 30px;
      width: 30px;
      border: 0;
      border-bottom: 1px solid #979797;
      background: transparent;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      color: #333;
      &:focus {
        outline: none;
      }
    }
  }
  .sb-certificate-button {
    height: 40px;
    width: 100%;
    border-radius: 2px;
    background-color: #024F9D;
    box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.26);
    border: 0;
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
  }

  .sb-certificate-holder-details {
    .sb-icon-badge {

    }
    h6 {
        color: #024F9D;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
    h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
    }
    p {
        color: #333333;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
  }
}