@import "variables";
@import "mixins/mixins";

.sb-profile-page {
  &__avatar {
    width: calculateRem(92px);
    height: calculateRem(92px);
    margin: 0 auto;
  }

  &__location-label {
    color: var(--gray-200);
  }

  &__right-aligned-button {
    margin-top: calculateRem(16px);

    @include respond-above(sm) {
      position: absolute;
      margin-top: 0;
      right: 12%;
      bottom: calculateRem(8px);
    }
  }

  &__profile-bg {
    background: #E0EFFF;
  }

  &__category {
    flex-direction: column;
    margin-top: calculateRem(16px);

    @include respond-above(sm) {
      flex-direction: row;
      margin-top: calculateRem(0px);
    }
  }

  // .max-w-400{
  //     max-width: calculateRem(480px);
  // }
}


:host {
  .fields-selection {
    display: flex;

    //   @include respond-above(sm) {
    //     flex-direction: row;
    //   }

    .sb-field .ui.selection.active.dropdown {
      border-color: #96c8da;
    }

    .sb-field .ui.selection.active.dropdown .text {
      color: #0076FE !important;
    }

    .sb-field {
      margin-bottom: calculateRem(16px) 0px;
      width: 100%;

      @include respond-below(sm) {}

      label {
        font-size: 14px;
      }
    }

  }

}

.field-focus {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}



.user-label {
  font-weight: bold;
  color: var(--primary-color);
  font-size: calculateRem(18px);
}

.sb-profile-btn {
  border-radius: 40px;
}

/* members css */
.members-list {
  width: 100%;

  .members-list-item {
    display: flex;
    align-items: center;
    padding: calculateRem(8px);
    position: relative;

    &:active,
    &:hover {
      background: var(--primary-250);
      border: 1px solid var(--primary-color);
    }

    .oval {
      height: calculateRem(36px);
      width: calculateRem(36px);
      justify-content: center;
      align-items: center;
      display: inline-flex;
      border-radius: 50%;
      border: calculateRem(6px) solid var(--white);
      background-color: var(--white);
      box-shadow: 0 0 calculateRem(6px) 0 rgba(0, 0, 0, 0.1);
    }

    .member-name {
      color: $gray-800;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 2.25rem;
      flex: 1;
      padding: 0 calculateRem(16px);

      span {
        // display: flex;
        // width: 90%;
      }
    }

  }
}
