<div class="ui fluid container">
  <nav class="sb-main-header">
    <div class="ui container">
      <div class="d-flex flex-ai-center">
        <a class="navbar-brand p-0" href="/#">
          <div class="header-img">
            <div class="img">
              <img src="../assets/images/logos.svg" alt="DIKSHA">
            </div>
          </div>
        </a>
        <div class="ml-auto">
          <div class="ml-auto">
            <ul class="d-flex flex-ai-center m-0">
              <li class="nav-item">
                <a class="brd-none btn btn-header " href="/verticals/profile-registry/" title="Verticals">Verticals</a>
              </li>
              <li class="nav-item mx-20">
                <a class="sb-btn sb-btn-outline-primary sb-btn-normal" href="/explore" title="Explore Content">Explore
                  Content</a>
              </li>
              <li class="nav-item">
                <a class="brd-none btn btn-header" href="/resources" title="Sign In">
                  <i class="arrow alternate circle right outline large icon"></i>
                  Sign In
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

</div>





<div class="ui fluid container" id="scrollToTop" style="margin-top: 94px;">
  <div class="sb-subheader">
    <div class="ui container">
      <div class="ui stackable grid">
        <div class="nine wide column p-0">
          <ul class="sb-subheader-list disable-scrollbars">
            <li class="sb-subheader-list-item active">
              <a class="sb-subheader-list-item-link" title="Install">
                <i class="thumbs up outline icon"></i>
                <span class="sb-subheader-list-item-text">Install</span>
              </a>
            </li>
            <li class="sb-subheader-list-item">
              <a class="sb-subheader-list-item-link" title="Download">
                <i class="user outline icon"></i>
                <span class="sb-subheader-list-item-text">Download</span>
              </a>
            </li>
            <li class="sb-subheader-list-item">
              <a class="sb-subheader-list-item-link" title="Upload">
                <i class="edit outline icon"></i>
                <span class="sb-subheader-list-item-text">Upload</span>
              </a>
            </li>
            <li class="sb-subheader-list-item">
              <a class="sb-subheader-list-item-link" title="Play">
                <i class="thumbs up outline icon"></i>
                <span class="sb-subheader-list-item-text">Play</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="three wide column d-flex flex-ai-center hide">
          <div class="sb-search-box small">
            <div class="input-div relative">
              <i class="search icon"></i>
              <input class="sb-search-input" type="text" placeholder="Search...">
              <i class="close icon"></i>
              <div class="sb-loader"></div>
            </div>
            <button class="sb-btn sb-btn-normal">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="sb-secondary-subheader">
    <div class="ui container">
      <ul class="m-0 p-0">
        <li class="sb-secondary-subheader-list-item">
          <a class="sb-btn sb-btn-outline-primary sb-btn-normal m-8">Understand Content Editor Tool</a>
        </li>
        <li class="sb-secondary-subheader-list-item">
          <a class="sb-btn sb-btn-outline-primary sb-btn-normal m-8">Understand Content Editor Tool</a>
        </li>
        <li class="sb-secondary-subheader-list-item">
          <a class="sb-btn sb-btn-outline-primary sb-btn-normal m-8">Understand Content Editor Tool</a>
        </li>
        <li class="sb-secondary-subheader-list-item">
          <a class="sb-btn sb-btn-outline-primary sb-btn-normal m-8">Understand Content Editor Tool</a>
        </li>
        <li class="sb-secondary-subheader-list-item">
          <a class="sb-btn sb-btn-outline-primary sb-btn-normal m-8">Understand Content Editor Tool</a>
        </li>
        <li class="sb-secondary-subheader-list-item">
          <a class="sb-btn sb-btn-outline-primary sb-btn-normal m-8">Understand Content Editor Tool</a>
        </li>
        <li class="sb-secondary-subheader-list-item">
          <a class="sb-btn sb-btn-outline-primary sb-btn-normal m-8">Understand Content Editor Tool</a>
        </li>
        <li class="sb-secondary-subheader-list-item">
          <a class="sb-btn sb-btn-outline-primary sb-btn-normal m-8">Understand Content Editor Tool</a>
        </li>
      </ul>
    </div>
  </div> -->
</div>


<div class="ui fluid container mt-48" id="sb-help-page-section">

  <div class="help-center-fixed-content sb-help-page-title">
    <h1 class="help-center-content-title mt-0">Downloading Content</h1>
    <button type="button" class="sb-btn sb-btn-primary sb-btn-normal mr-8">Download PDF</button>
  </div>

  <div class="help-center-fixed-content">
      <p class="help-center-content-paragraph">DIKSHA has a lot of content. You can download any DIKSHA content when
          you are connected to the Internet. . All files downloaded from DIKSHA are saved on your computer, laptop,
          mobile or any other device as .ecar files. That is, all the downloaded files have an extension .ecar. </p>
        <p class="help-center-content-paragraph">This section tells you how to download files from DIKSHA</p>
        <h2 class="help-center-content-subtitle"><span>Must Do</span></h2>
        <p class="help-center-content-paragraph">Before downloading content from DIKSHA, ensure the following.</p>

        <ul class="help-center-list help-center-list-content">
            <li class="help-center-list-content"> You are connected to the internet.</li>
            <li class="help-center-list-content">You have DIKSHA offline consumption application installed on your desktop.</li>
          </ul>
    </div>
  
    
  <div class="help-center-download-steps">
      <div class="help-center-fixed-content">
        <h2 class="help-center-content-subtitle">Downloading Content</h2>
        <h3 class="help-center-content-extra">Step 1:</h3>
      </div>
      <div class="help-center-image-section">
        <img src="../assets/images/downloading_1.png" class="help-center-image" alt="help-center">
      </div>
  </div>

  <div class="help-center-download-steps">
      <div class="help-center-fixed-content">
          <h3 class="help-center-content-extra">Step 2:</h3>
        </div>
        <div class="help-center-image-section">
          <img src="../assets/images/downloading_2.png" class="help-center-image" alt="help-center">
        </div>
  </div>

  <div class="help-center-download-steps">
      <div class="help-center-fixed-content">
          <h2 class="help-center-content-subtitle">Download Status</h2>
      </div>
      <div class="help-center-image-section">
        <img src="../assets/images/downloading_status.png" class="help-center-image" alt="help-center">
      </div>
    </div>

    <div class="help-center-download-steps">
        <div class="help-center-fixed-content">
            <h3 class="help-center-content-extra">Using Search Bar</h3>
          </div>
          <div class="help-center-image-section">
            <img src="../assets/images/downloading_search.png" class="help-center-image" alt="help-center">
          </div>
    </div>

</div>

<!-- <div class="ui container mt-32">
  <div class="ui raised fluid card p-24">
    <div class="sb-help-center-section">
      <div class="sb-help-center-section-header">
        <div class="sb-help-center-section-title">
          <h1>Getting Started</h1>
        </div>
        <div class="content pt-8">
            <p class="sb-para">
              India... It's a country of great wisdom, incredible history, ruins of ancient cities, eastern spices, delicious tea, and beautiful nature. India gave the world a great civilization. You will never want to leave it. However, when you have to do that, don't forget to exchange your rupees. No one is allowed to take them out of the country!
            </p>
            <div class="ui stackable grid py-20">
              <div  class="eight wide column">
                <div class="img-block">
                    <img  class="ui fluid image" src="https://res.cloudinary.com/responsivebreakpoints/image/upload/c_scale,w_1400/v1451071843/castle.jpg">
                </div>
              </div>
              <div  class="four wide column">
                  <h4 class=""> Popular Story</h4>
                  <p class="sb-para m-0">In 2000, ten years later, the international community met again at the World Education Forum in Dakar, Senegal, an event which drew 1100 participants.</p>
                  <ul class="sb-circular-list">
                      <li class="sb-circular-list-item">Free unlimited content</li>
                      <li class="sb-circular-list-item">Multilingual support</li>
                      <li class="sb-circular-list-item">Play content offline</li>
                    </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui container mt-32">
    <div class="ui raised fluid card p-24">
      <div class="sb-help-center-section">
        <div class="sb-help-center-section-header">
          <div class="sb-help-center-section-title">
            <h1>Getting Started</h1>
          </div>
          <div class="content pt-8">
              <p class="sb-para">
                India... It's a country of great wisdom, incredible history, ruins of ancient cities, eastern spices, delicious tea, and beautiful nature. India gave the world a great civilization. You will never want to leave it. However, when you have to do that, don't forget to exchange your rupees. No one is allowed to take them out of the country!
              </p>
              <img class="ui fluid image full-image" src="https://res.cloudinary.com/responsivebreakpoints/image/upload/c_scale,w_1400/v1451071843/castle.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="ui container mt-32">
  <div class="ui raised fluid card p-24">
    <div class="content">
      <table class="sb-two-column-table">
        <tbody>
          <tr>
            <th class="sb-table-heading first-column">Step
            </th>
            <th class="sb-table-heading second-column">Screen
            </th>
          </tr>
          <tr>
            <td class="sb-table-description">1. Click <b>Explore Content</b>. The Explore DIKSHA page is displayed
            </td>
            <td class="sb-table-description"><img src="../images/explorediksha/gettingstarted.png">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->


<a *ngIf="isShow" (click)="gotoTop()" class="scrollup" style="">scroll</a>
