@import "../../assets/styles/base/variables";
.sb-two-column-table {
    table-layout: fixed;
    word-break: break-word;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .sb-two-column-table .sb-table-heading,
  .sb-two-column-table .sb-table-description {
    padding: 5px 10px;
    border: 1px solid #ccc;
  }

  .sb-two-column-table .sb-table-heading {
    text-align: center;
  }

  .sb-two-column-table .first-column {
    width: 35%;
  }

  .sb-two-column-table .second-column {
    width: 65%;
  }


  .sb-two-column-table img {
    max-width: 100%;
    vertical-align: middle;
  }

  .sb-main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: white;
    box-shadow: 0 2px 14px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    transition: ease-in 0.25s;
  }

  .nav-item {
    list-style-type: none;
  }

  .sb-main-header .nav-item:not(:last-child) {
    margin-right: 48px;
  }

  .sb-subheader {
    background: #005da2;
    padding-top: 80px;
  }

  .sb-secondary-subheader {
    background: #003257;
    padding: 12px;
  }

  .sb-subheader-list-item {
    text-align: center;
    color: #fff;
    padding: 0;
    display: inline-block;
  }

  .sb-subheader-list-item.active {
    background: #003257;
  }

  .sb-subheader-list-item-text {
    color: #fff;
  }

  .sb-subheader-list {
    margin: 0;
    padding:0;
  }


  .sb-secondary-subheader-list-item {
    display: inline-block;
  }

  .sb-subheader-list-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
  }

  .sb-subheader-list-item-link .icon {
    color: #fff;
    margin-bottom: 8px;
  }
  .header-img {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 10px 10px;
    background: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .navbar-brand {
    float: left;
    padding: 14px 15px;
    font-size: 20px;
    line-height: 22px;
  }

  .scrollup {
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background:url(/assets/images/up-arrow.png) no-repeat 0px 0px;
}

.sb-help-center-section{
  .img-block{
    .image{
      max-height: 350px;
    }
  }
  .full-image{
    max-height: 500px;
  }
}

@media only screen and (min-width: 1024px){
  .help-center-main-content{
    max-width: 960px;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.help-center-image{
  max-width: 100%;
}

.help-center-main-content{
  width:100%;
  position: relative;
  .help-center-page-content{
    .help-center-page-title{
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: bold;
    }
    .sb-btn{
      position: absolute;
      top: 3px;
      right: 70px;
    }
    .help-center-page-subtitle{
      margin-top: 20px;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .help-center-page-extra{
      font-weight: bold;
      margin: 10px 0;
      font-size: 16px;
    }
    .help-center-content{
      margin: 12px 0 0 0;
      .help-center-content-paragraph{
        margin-bottom: 12px;
        font-size: 14px;
      }
      .help-center-list{
        margin: 12px 0 0 0;
        .help-center-list-content{
          padding-left: 40px;
          font-size: 14px;
          li{
            margin-top: 4px;
          }
        }
      }
    }
  }
}