.sb-checkbox.sb-checkbox-primary input:checked~label:before {
    background-color: #00C786;;
    border-color: rgba(34,36,38,.35);
}

.sb-checkbox.sb-checkbox-primary input:checked~.box:after,
.sb-checkbox.sb-checkbox-primary input:checked~label:after {
    opacity: 1;
    background-color: #00C786;
}

.sb-checkbox.sb-checkbox-primary label:after {
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    text-align: center;
    opacity: 0;
    color: #fff;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease;
}

.sb-checkbox.sb-checkbox-primary label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    content: '';
    background: #fff;
    border-radius: .21428571rem;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s cubic-bezier(0.25, 0.1, 0.43, 0.82);
    border: 1px solid #d4d4d5;
}

.sb-checkbox.sb-checkbox-primary input:checked~.box:after,
.sb-checkbox.sb-checkbox-primary input:checked~label:after {
    content: '\e800';
}

.sb-checkbox.sb-checkbox-primary label {
    cursor: auto;
    position: relative;
    display: block;
    padding-left: 1.85714em;
    outline: 0;
    font-size: 1rem;
    font-weight: normal;
}

.sb-checkbox.sb-checkbox-primary input[type=checkbox],
.sb-checkbox.sb-checkbox-primary input[type=radio] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0!important;
    outline: 0;
    z-index: 3;
    width: 17px;
    height: 17px;
}

.sb-checkbox.sb-checkbox-primary {
    position: relative;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    min-height: 17px;
    font-size: 1rem;
    line-height: 17px;
    min-width: 17px;
}