/* modal styles */
@import "../mixins/mixins";
@import "../base/variables";
.sb-modal {
    .ui.modal {
        @include margin(3.5rem auto 0 auto);
        @include position(null, 0 0 null 0); //bourbon
        @include size(100%, auto); //bourbon
        border-radius: $sb-modal-corner-radius;
        background:none;
        .sb-modal-header {
            background-color: $sb-modal-header-bg;
            color: $sb-modal-header-color;
            font-weight: $font-weight-bold;
            font-size: $sb-modal-header-fsize;
            padding: $sb-modal-header-padding;
            border-bottom: 0 solid $gray-100; //@include size(auto,($base-block-space * 5)); //bourbon
            min-height: $sb-modal-header-height;
            line-height:$sb-modal-header-line-height;
            border-top-left-radius: $sb-modal-corner-radius;
            border-top-right-radius: $sb-modal-corner-radius;
        }
        .sb-modal-content {
            min-height: 100px;
            padding: $sb-modal-content-padding;
            overflow-y: auto;
            background:$white;
        }
        .sb-modal-content.sb-modal-tab {
            padding: 0;
            .ui.secondary.menu {
                background-color: $gray-0;
                padding:0;
                padding-left: ($base-block-space * 2);
                border:0;
            }
            .ui.container {
                padding-left: ($base-block-space * 2);
                padding-right: ($base-block-space * 2);
                min-height: 100px;
            }
        }
        &>.close {
            color: $white-color;
            font-size: $font-size-base;
            @include padding(0 0); //bourbon
            @include margin(0 0);
            @include size(($base-block-space * 5), ($base-block-space * 5)); //bourbon
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @include position(absolute, 0 0 null null); //bourbon
        }
        .sb-modal-actions {
            border-bottom-left-radius: $sb-modal-corner-radius;
            border-bottom-right-radius: $sb-modal-corner-radius;
          padding: $sb-modal-actions-padding;
            background: $sb-modal-actions-bg;
            border-top: 1px solid $gray-100;
            min-height: $sb-modal-actions-height;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .sb-btn:nth-last-child(1){
                margin:0 $base-block-space 0 $base-block-space;
            }
            button{
                @extend .sb-btn-outline-primary;  
            }
            button:nth-child(1){
                @extend .sb-btn-primary;
            }
        }
        .small {
            color: $gray-400;
        }
        &.small {
            max-width: $sb-modal-small-width;
        }
        &.normal {
            max-width: $sb-modal-normal-width;
            .sb-modal-content {
                max-height: 380px;
            }
        }
        &.fullscreen {
            width: 100% !important;
            margin: 0 0 0 0 !important;
            left: 0px !important;
            .sb-modal-content {
                height: calc(100vh - 96px);
            }
        }
        &.large {
            max-width: $sb-modal-large-width;
            .sb-modal-content {
                height: calc(100vh - 200px);
            }
        }
        &.sb-modal-fullscreen {
            @include position(fixed, 0 0 0 0); //bourbon
            width: 100%;
            @include margin(0 auto);
            overflow-y: auto;
            overflow-x: hidden;
            .sb-modal-header {
                height: $sb-modal-fs-header-height;
                width: auto;
                border-radius: 0px;
                display: flex;
                justify-content: space-between;
            }
            .sb-modal-content {
                height: calc(100vh - 120px);
            }
            .close {
                position: relative;
            }
        }
    } 
    // sb modal confirmation/alert styles 
    &.sb-warning .ui.modal {
        .sb-modal-header {
            background-color: $sb-modal-header-bg-warning;
        }
        .sb-modal-actions {
            button{
                @extend .sb-btn-outline-warning;  
            }
            button:nth-child(1){
                @extend .sb-btn-warning;
            }
        }
    }
    &.sb-success .ui.modal {
        .sb-modal-header {
            background-color: $sb-modal-header-bg-success;
        }
        .sb-modal-actions {
            button{
                @extend .sb-btn-outline-success;  
            }
            button:nth-child(1){
                @extend .sb-btn-success;
            }
        }
    }
    &.sb-error .ui.modal {
        .sb-modal-header {
            background-color: $sb-modal-header-bg-error;
        }
        .sb-modal-actions {
            button{
                @extend .sb-btn-outline-error;  
            }
            button:nth-child(1){
                @extend .sb-btn-error;
            }
        }
    }
    &.sb-modal-content-center .ui.modal {
        .sb-modal-content {
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }
    &.sb-modal-center .ui.modal {
        .sb-modal-content {
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .sb-modal-actions {
            justify-content: center;
            border-top:0px;
        }
    }
}

[dir="rtl"] .sb-modal .ui.modal>.close {
    right: auto;
    left: 0;
}

@include respond-below(sm) {
    .sb-modal {
        .ui.modal {
            position: absolute;
            width: 95%;
            margin: 0 auto !important;
            top: 50%;
            transform: translate(0, -50%);
            height: inherit;
            &>.close {
                top: 0 !important;
                right: 0 !important;
            }
            &>.sb-modal-actions {
                padding: $block-padding-y-x; // recheck this style
            }
        }
        .ui.modal .scrolling.content {
            max-height: calc(100vh - 10rem);
            overflow: auto;
        }
        .ui.page.dimmer {
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
    }
}
.ui.tree-picker.modal {
    top: 3.5rem;
    .sb-modal-actions {
        .pick-search,
        .unpick-search,
        .unpick-picked {
            display: none;
        }
    }
}