@import "../mixins/mixins";
@import "../base/base";
.sb-pagination-container {
    display: flex;
    .sb-pagination {
        display: flex;
        align-items: center;
        margin-top: $base-block-space*2;
        margin-bottom: $base-block-space*2;
        font-weight: $font-weight-normal;
        background-color: $white;
        font-size: $font-size-base;
    
        &.mini {
            font-size: $font-size-sm;
            .sb-item {
                padding:  $base-block-space+4;
            }
        }
    
        &.large {
            font-size: $base-block-space*2;
            .sb-item {
                padding:  ($base-block-space*2)+4;
            }
        }
    
        .sb-item {
            padding: $base-block-space $base-block-space*2;
            line-height: $font-size-base;
            color: $gray-400;
            cursor: pointer;
            border: 0.5px solid #dedede;
            border-right: none;
            &:hover {
                background: $gray-0;
            }
            &:first-child {
                border-radius: 4px 0 0 4px;
            }
            &:last-child {
                border: 0.5px solid #dedede;
                border-radius: 0 4px 4px 0;
            }
        }
    
        .sb-item-active {
            background-color: #dedede;
        }
    
        .no-border {
            border: none;
            border-left: 0.5px solid #dedede;
        }
    }
}