@import "../mixins/mixins";
@import "../base/base";
.sb-pagination-container {
    display: flex;
    .sb-pagination {
        display: flex;
        align-items: center;
        margin-top: $base-block-space;
        margin-bottom: $base-block-space;
        font-weight: $font-weight-normal;
        border: 1px solid #dedede;
        border-radius: $base-block-space/2;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
        background-color: #ffffff;
        font-size: $font-size-base;
    
        &.mini {
            font-size: $base-block-space+4;
            .sb-item {
                padding:  $base-block-space+4;
            }
        }
    
        &.large {
            font-size: $base-block-space*2;
            .sb-item {
                padding:  ($base-block-space*2)+4;
            }
        }
    
        .sb-item {
            padding:  $base-block-space*2;
            line-height: $font-size-base;
            color: $gray;
            cursor: pointer;
            border-right: 1px solid #dedede;
            &:hover {
                background: $gray-0;
            }
            &:last-child {
                border-right: none;
            }
        }
    
        .sb-item-active {
            background-color: #dedede;
        }
    
    }
}