@import "../mixins/mixins";
@import "../base/variables";

.ui {
  &.popup {
    background: $tooltip-bg;
    color: $tooltip-color;
    border: 1px solid $tooltip-bg;
    padding: 8px;

    .content {
      font-size: $tooltip-content-font-size;
      color: $tooltip-content-color;
      padding: 0 !important;
    }

    .header {
      font-size: $tooltip-header-font-size;
    }

    .arrow {
      background: $tooltip-bg;
      border: 1px solid $tooltip-bg;
      box-shadow: 1px 1px 0 0 $tooltip-bg !important;
    }
  }
}
