html,
body {
  height: 100%;
  font-size: $font-size-base;
}

body {
  background: $body-background-color !important;
  position: relative;
  font-family: $font-stack-en;
  letter-spacing: 0.2px;
  height: auto;
  color: $default-text-color;
  padding-bottom: 400px;
  min-height: 100vh;
  &.pushable {
    background: $body-background-color !important;
    &>.pusher {
      background: transparent !important;
      padding-bottom: 400px !important;
      &.dimmed {
        height: 100vh;
      }
    }
  }
}
@include respond-above(sm) {
  body {
    padding-bottom: 240px;
    .pusher {
      padding-bottom: 240px !important;
    }
  }
}

*[lang="en"] body {
  font-family: $font-stack-en;
}

*[lang="hi"] body {
  font-family: $font-stack-hi;
}

*[lang="ur"] body {
  font-family: $font-stack-ur;
}


.publicmenusection.ui.secondary.menu .active.item {
  color: $primary-color;
  text-transform: capitalize;
}
.publicmenusection.ui.secondary.vertical.menu > .item {
  text-transform: capitalize;
}

*[dir="rtl"] {
  .notched.circle.loading.icon {
    margin-left: 20px;
  }
}

.width-100 {
  width: 100% !important;
}

body ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: $gray-0;
}

body ::-webkit-scrollbar
{
  width: 5px;
  height:5px;background-color: $primary-400;
    -webkit-appearance: none;
}

body ::-webkit-scrollbar-thumb
{
	
	background-color: $gray-800;
}


.fixed {
  position: fixed;
}
[class*="sb-icon-"] {
  -webkit-mask-size: contain;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  background-color: $primary-color;
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}

[class*="sb-icon-primary"] {
  background-color: $primary-color;
}

[class*="sb-icon-secondary"] {
  background-color: $secondary-color;
}

[class*="sb-icon-warning"] {
  background-color: $tertiary-color;
}

[class*="sb-icon-error"] {
  background-color: $red;
}

[class*="sb-icon-edit-user"] {
  -webkit-mask-image: url(../../assets/images/edit-icon.svg);
  mask-image: url(../../assets/images/edit-icon.svg);
}

[class*="sb-icon-delete-user"] {
  -webkit-mask-image: url(../../assets/images/delete-icon.svg);
  mask-image: url(../../assets/images/delete-icon.svg);
}


.add100 {
  padding-bottom: 100px;
}

