.offline-page-content {
    height:100%;
}

.offline-page-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.offline-page-subheading {
    font-size: 18px;
    color: #666;
}

.offline-download-card {
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    padding: 40px;
}

.offline-download-card-heading {
    color: #024F9D;
    font-size: 18px;
    font-weight: bold;
}
  .offline-download-card-description{
    font-size: 14px;
    color: #333;
  }
  .offline-download-card-extra {
    color: #024f9d;
    font-size: 12px;
  }
