<div class="offline-container d-flex flex-jc-center p-32 sb-bg-color-white">
    <div class="d-flex flex-dc flex-jc-center flex-ai-center">
      <div class="offline-container__icon">
        <img src="../../assets/images/offline-icon.svg" width="37px" height= "37px">
      </div>
      <div class="mt-8 fs-1 online-container__title">Your are Offline</div>
      <div class="fs-0-92 mt-16 text-center">Import books to access while offline</div>
      <button type="button" class="sb-btn sb-btn-outline-primary sb-btn-normal my-16">
      Load Content
     </button>   
    </div>
  </div>
