.state-dropdown{
    min-height: 32px;
    padding: 4px 8px;
    border-radius: 2px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: #024F9D 1px solid;
    color: #024F9D;
    font-weight: 600;  
}