@import "variables";
@import "mixins/mixins";

.sb-offline-app-bar{
  background: var(--primary-800); 
}

.sb-header-offline-bar {
  position: relative;
  z-index: 3;
  background: #FAFAFA;
}

.sb-menubar {
  width: 100%;
  border-bottom: 1px solid var(--primary-400);

  .plus-icon {
    position: relative;
    bottom: 7px;
    margin-right: 5px;
  }
}

.state-medium-container {
  position: relative;
  height: 64px;
  z-index: 2;

  &__dropdown {
    z-index: 1;
  }

  &__separator {
    border-left: 1px solid var(--gray-200);
    height: ($base-block-space * 3);
    margin: auto 10px;
  }

  &__medium {
    overflow-x: auto;
    overflow-y: hidden;
    height: 64px;
  }
}

.class-content{
  background: #F0F0F0;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.sb-class-bar {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.sb-field .ui.selection.dropdown.select-language {
  min-width: 80px;
  border: 0px;
  background: none;
}

.ui.dropdown.select-language>.text {
  color: var(--primary-400);
  padding-right: 24px !important;
}

@include respond-below(sm) {
  .sb-menubar {
    border-bottom: 0px;

    &__content {
      flex-wrap: wrap;
      display: block !important;
    }
  }
}

.download-area{
  text-decoration: underline;
}

.no-result{
  width:100%;
  border-bottom: 0.5px solid var(--primary-400);
  margin-bottom: 1rem;
}

.sbcard {
  position: relative;
  width: 100%;

  .sbcard-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: var(--primary-400);

    &__content{
      width: 100%;
      height: 100%;

      .description{ 
        color:#fff;
        
        .icon {
          color: #fff;
          font-size: 24px;
        }
        
        .fa-user:hover {
          color: #eee;
        }
      }

      &__separator{
        border-left:1px solid white;
        height: 40px;
      }
    }
  }
  
  &:hover .sbcard-overlay {
    opacity: 1;
  }
}

// two column layout
.sb-two-column {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 16px;

  .sb-column {
    grid-column: col-start / span 12;
  }

  .sb-column:nth-child(2) {
    overflow: auto;
  }

  @include respond-above(md) {
    //grid-template-columns: 1fr 400px;
    grid-template-columns: repeat(12, [col-start] 1fr);

    .sb-column {
      grid-column: col-start / span 8;
    }

    .sb-column:nth-child(2) {
      grid-column: col-start 9 / span 4;
      overflow: auto;
    }
  }
}

.sbgrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
  grid-gap: 1rem;
}

@media (min-width: 992px){
  .sb-two-column .sb-column:nth-child(2) {
    grid-column: col-start 10 / span 3 !important;
    overflow:auto;
  }
 .sb-two-column ,.sb-column{
  grid-column: col-start / span 9 !important;
 }
}
