@import "variables";

.state-medium-container {
  position: relative;
  height:64px;
  z-index:2;
  &__dropdown {
    z-index: 1;
  }

  &__separator {
    border-left: 1px solid var(--gray-200);
    height: ($base-block-space * 3);
    margin: auto 10px;
  }

  &__medium {
    overflow-x: auto;
    overflow-y: hidden;
    height:64px;
  }
}

.sb-menubar {
}

.sb-class-bar{
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;
}

.select-language {
  border: none;
  background: none;
  color: var(--primary-400);
  outline: none;
}
