<div class="sb-offline-app-bar">
    <app-offline-appbar></app-offline-appbar>
</div>

<div class="sb-header-offline-bar sb-bg-color-white px-8">
  <app-offline-header></app-offline-header>
</div>

<div class="sb-menubar sb-bg-color-primary-0 px-8">
  <app-offline-menubar></app-offline-menubar>
  <sui-select class="selection state-medium medium-selection" labelField="name" [(ngModel)]="selectMedium">
      <sui-select-option *ngFor="let option of selectOption" [value]="option">
      </sui-select-option>
  </sui-select>
</div>

<div class="d-flex state-medium-container sb-bg-color-white">
  <div class="state-medium-container__dropdown">
    <app-state></app-state>
  </div>
  <div class='state-medium-container__separator'></div>
  <div class="state-medium-container__medium">
    <app-medium></app-medium>
  </div>
</div>

<div class="sb-class-bar sb-bg-color-gray-0">
  <app-class></app-class>
</div>