.state-medium-container {

  &__dropdown {
    padding: 16px 0px;
    z-index: 1;
  }

    &__separator{
      border-left: 1px solid #999999;
      height: 24px;
      margin:auto 10px;
    }
  
  &__medium{
    overflow-x: auto;
    overflow-y: hidden;
  }
}
