
<div>
  <app-offline-appbar></app-offline-appbar>
</div>

<div>
  <app-offline-header></app-offline-header>
</div>

<div>
  <app-offline-menubar></app-offline-menubar>
</div>

<div class="d-flex state-medium-container">
  <div class="state-medium-container__dropdown">
    <app-state></app-state>
  </div>
  <div class="state-medium-container__separator">
    <div class='state-medium-container__separator__border'></div>
  </div>
  <div class="state-medium-container__medium">
    <app-medium></app-medium>
  </div>
</div>

<div>
  <app-class></app-class>
</div>