@import "variables";
@import "mixins/mixins";

.sb-offline-app-bar {
  background: #D9D8D8;
  padding: $base-block-space 0px;
}

.sb-offline-header {
  border-bottom: 1px solid var(--primary-400);

  .sb-header-offline-bar {
    position: relative;
    z-index: 3;
    background: #fafafa;
  }

  .sb-menubar {
    width: 100%;
    @include respond-below(sm) {
    .sb-btn-load{
      margin: $base-block-space 0px;
    }
   }
  }
}

.state-medium-container {
  position: relative;
  height: calculateRem(64px);
  z-index: 2;

  &__dropdown {
    z-index: 1;
  }

  &__separator {
    border-left: calculateRem(1px) solid var(--gray-200);
    height: ($base-block-space * 3);
    margin: auto calculateRem(10px);
  }

  &__medium {
    overflow-x: auto;
    overflow-y: hidden;
    height: calculateRem(64px);
  }
}

.class-content {
  background: #f0f0f0;
  box-shadow: 0 calculateRem(2px) calculateRem(8px) 0 rgba(0, 0, 0, 0.2);
}

.sb-class-bar {
  box-shadow: 0 calculateRem(2px) calculateRem(8px) 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.sb-field .ui.selection.dropdown.select-language {
  min-width: calculateRem(80px);
  border: 0px;
  background: none;
}

.ui.dropdown.select-language>.text {
  color: var(--primary-400);
  padding-right: calculateRem(24px) !important;
}

.download-area {
  text-decoration: underline;
}

.no-result {
  width: 100%;
  border-bottom: 0.5px solid var(--primary-400);
  margin-bottom: 1rem;
}

.sbcard {
  position: relative;
  width: 100%;

  .sbcard-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: var(--primary-400);

    &__content {
      width: 100%;
      height: 100%;

      .description {
        color: var(--white);

        .icon {
          color:var(--white);
          font-size:calculateRem(24px);
        }

        .fa-user:hover {
          color: #eee;
        }
      }

      &__separator {
        border-left: 1px solid var(--white);
        height: calculateRem(40px);
      }
    }
  }

  &:hover .sbcard-overlay {
    opacity: 1;
  }
}