     <div class="ui container">
        <div class="ui stackable grid m-0">
          <div class="four wide column">
            <div class="sunbird-app-images"><img src="../../assets/images/mobile-icon.png"></div>    
          </div>
          <div class="eight wide column">
            <div>
              <div class="sunbird-app-label">sunbird for Mobile</div>
              <p class="mt-16 fnormal sunbird-app-text">The sunbird platform offers teachers, students and parents engaging learning material relevant
                 to the prescribed school curriculum.Download the sunbird app and scan QR codes in your textbooks
                 for easy access to all your lessons.</p>
                 <div><img src="../../assets/images/google-play.svg"></div>
            </div>
          </div>
          </div>
          <div class="divider"></div>
          </div>
          <div class="ui container">
            <div class="ui stackable grid m-0">
              <div class="four wide column">
                <div class="sunbird-app-images"><img src="../../assets/images/web-icon.png"></div>    
              </div>
              <div class="eight wide column">
                <div>
                  <div class="sunbird-app-label">sunbird for Web</div>
                  <p class="mt-16 fnormal sunbird-app-text">The sunbird platform offers teachers, students and parents engaging learning material relevant
                     to the prescribed school curriculum.Download the sunbird app and scan QR codes in your textbooks
                     for easy access to all your lessons.</p>
                     <button type="button" class="sb-btn sb-btn-normal sb-btn-download">Download sunbird Offline</button>
                </div>
              </div>
              </div>
          </div>